[2019-09-06 19:26] sebas932 opened #1977 "[SA] Embed Dashboard in the CGIAR Website"
Issue description

- [x] Find a way to setup the testing environment with SSL in order to be embeddable

**Deliverable:**
**Move to Review when:** Not needed
**Move to Closed when:** Embeded in CGIAR Website

[2019-09-06 19:28] mralmanzar opened #1978 "[MA] BI tool Meeting"
Meeting with David, Manuel and team to talk about the proper BI tool for the SMO

- [ ] Check the cost of the premium licences of the top BI tools (Power BI, Tableau, Click View and Google)
- [ ] Evaluate the different alternatives to show quick wins.
-

**Deliverable:** Meeting
**Move to Review when:** NONE
**Move to Closed when:** the meeting finishes

DASHBOARD (CCAFS)

[2019-09-06 19:38] mralmanzar opened #1979 "[MA] Develop a Dashboard example with Qlickview"
Issue description

- [ ] Study about Qlickview
- [ ] Install locally
- [ ] Develop an example

**Deliverable:** An online Demo
**Move to Review when:**
**Move to Closed when:** The demo link be sent

[2019-09-06 19:45] HermesJim commented on #1954
@htobon
Can you check this in MARLO dev.
thanks.

[2019-09-06 19:48] sebas932 commented on #1860
@htobon and @MateoVieira will write an email to Shaylyn

[2019-09-06 20:01] mralmanzar opened #1980 "[MA] (MEL import) Innovations, publications and CapDev on MARLO"
Create the MEL CRP/PTF  Innovations, publications and Capdev on MARLO.

- [x] Send an Email requesting the information
- [x] Import Capdev
- [x] Import Innovations
- [x] Publications imports
- [x] Update the Dashboard information

**Deliverable:** Mail to team informing that these cubes information are done.
**Move to Review when:**
**Move to Closed when:** After send the mail

[2019-09-06 20:07] #1938 closed

[2019-09-06 20:42] kenjitm opened #1981 "[KT][MARLO] Synchronize funding source information with CIAT OCS"
Synchronize information during the creation of the funding source with CIAT OCS.

[2019-09-06 20:49] #1963 closed

[2019-09-06 20:52] htobon opened #1982 "[DP] A CRP Administrator should be able to decide the default landing phase for my users."
Currently, CRP and PTF Administrators are able to open/close and display/hide phases in the system. However, they are not able to define the default landing phase to their users. As a result, this is something we are doing in our back-end.

The idea with this task would be for the development team to add the functionality for Administrator to define this landing phase. And here is the way how we p

[2019-09-06 20:52] yeyo2k3 commented on #1934
I create a service by parameters as (Phase and Global Unit) that return  a list of publications with same model that we used to create a publication.

@mralmanzar can you test it plz

[2019-09-06 21:25] mralmanzar opened #1983 "[MA] (MEL import) partnerships on MARLO"
Create the MEL CRP/PTF  partnerships on MARLO.

- [x] Send an Email requesting the information
- [x] Import Partnerships
- [x] Update the Dashboard information

**Deliverable:** Mail to team informing that these cubes information are done.
**Move to Review when:**
**Move to Closed when:** After send the mail

[2019-09-06 21:25] mralmanzar opened #1984 "[MA] (MEL import) outcomes and milestones status on MARLO"
Create the MEL CRP/PTF  outcomes and milestones status on MARLO.

- [x] Send an Email requesting the information
- [x] Create 2018 planned Outcomes
- [x] Create AR 2018 planned outcomes status
- [x] Update the Dashboard information

**Deliverable:** Mail to team informing that these cubes information are done.
**Move to Review when:**
**Move to Closed when:** After send the mail

[2019-09-06 21:27] mralmanzar opened #1985 "[MA] (MEL import) OICR and policies on MARLO"
Create the MEL CRP/PTF  OICR and policies on MARLO.

- [x] Send an Email requesting the information
- [x] Import OICR
- [x] Import Policies
- [x] Update the Dashboard information

**Deliverable:** Mail to team informing that these cubes information are done.
**Move to Review when:**
**Move to Closed when:** After send the mail

[2019-09-10 20:04] sebas932 commented on #1943
Developed the algorithm to upload a list of publications through CLARISA

![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/8d906593-e8a8-48ad-b40b-59203bb6681a)

[2019-09-12 20:16] mralmanzar opened #1986 "[MA] (Deliverables) Fix deliverable partnerships migration error"
Validate the information migrated from the old partnership tables to the new ones.

- [x] Get all missing information
- [x] Create the script to import the information to MARLO
- [x] Create the script to fix the replication errors

**Deliverable:** Excel sheet with the missed records
**Move to Review when:** none
**Move to Closed when:** the new migration is on production

[2019-09-13 13:31] htobon opened #1988 "[HT] (POWB 2020) Define a process to close a project in MARLO before starting POWB"
As part of the Action points defined in the previous f2f meeting in August 2019. We would like to define and propose a proper process on how to close projects in MARLO.

For this purpose, we are going to prepare a 1-page document (if possible) which describes the proper way to extend, complete or cancel a project and we will share it with a smaller group of volunteers:
PIM: Pascale, WLE: Emma, MAI

[2019-09-13 13:42] htobon opened #1989 "[MV] (Summaries) Country summary"
In MARLO, we do not have a report focused on countries. However, we had manually created a couple of reports by request. Here, we would like to use those reports and include them in Summaries section. Before that, we would like to ask a smaller group of MARLO Family to let us know if the summary will be useful.

Here are the tasks:
- [ ] find the previous report we made for FTA (MV - plz ask Manue

[2019-09-13 14:13] MateoVieira commented on #1917
we created tow new issues for each action described (3 & 4) in order to close this Issue:
for task 3 - Issue  #1988
for task 4 - Issue #1989

[2019-09-13 14:14] #1917 closed

[2019-09-13 14:22] MateoVieira commented on #1925
we are waiting for the Email answer sent today
subject: Global comms team on leave next week Aug 26-30

[2019-09-13 15:31] MateoVieira commented on #1860
- [] Section #2 - is there any possibility that if you chose a different CRP/Platform of MAIZE, WHEAT or EiB, the "Section#2" doesn't appear ?

- [] Q7 -  include the measurement unit Ex: ( h-Hours, Min-Minuts) in the question

![image.png](https://images.zenhubusercontent.com/5d449dbb3950cc7f5c1719e4/ea812cfd-8efd-4e82-be5a-fd6519382613)

[2019-09-16 18:33] yeyo2k3 commented on #1941
I create a innovation list with the same structure of getting an innovation by id, but in this case parameter to recieve is global Unit data (CRP, Plataform) ,Phase (AR, POWB) and year

@mralmanzar can you test it please and inform me  if something happens. thank you

[2019-09-16 20:55] MateoVieira commented on #1860
I made some changes on the survey in the Q? order and I added some Questions  that were on the survey's draft (https://docs.google.com/document/d/15ijsIN8VpZncrytDafZfQ9H0j8x3CW90tAIkJExQm5w/edit)

[2019-09-16 21:18] MateoVieira opened #1990 "[DA] Finalize the implementation of the CDN in S3"
Taking in count that there is a new S3 bucket for this purpose, apply CDN implementation using this artifact.

- [x] Configure new AWS S3 bucket
- [x] Sync files to S3
- [x] Update feature branch with latest staging changes
- [x] Apply changes
- [x] Locally test

**Deliverable:**
**Move to Review when:** It works fine in feature branch
**Move to Closed when:** Changes are merged in staging

[2019-09-16 21:18] MateoVieira opened #1991 "[DA] Comparative report before and after S3"
Test MARLO performance with CDN implementation( content upload to S3)

- [ ] Run Selenium test on Quality Scenario QS1
- [ ] Compare with previous results

**Deliverable:**
**Move to Review when:** Test is performed
**Move to Closed when:** Test is fully documented

[2019-09-16 21:19] MateoVieira opened #1992 "[DA] Create a strategy to improve the performance of loading permissions in MySQL"
Optimize queries for database permisions

- [x] Check current status
- [ ] Apply tactics: use indexes, tables denormalization

**Deliverable:**
**Move to Review when:** Changes on database are performed
**Move to Closed when:** Changes committed in Flyway

[2019-09-16 21:20] MateoVieira opened #1993 "[Docker Expert] Perform a portable MARLO in Docker, a pilot model"
The idea is to build a single docker image to deploy all services of MARLO

- [ ] Include MYSQL
- [ ] Import MYSQL database
- [ ] Include Git
- [ ] Include Java
- [ ] Include MVN
- [ ] Include Tomcat
- [ ] Download and deploy code

**Deliverable:**
**Move to Review when:** Image is uploaded on docker hub
**Move to Closed when:** User can run it on other PC

[2019-09-17 14:40] sebas932 commented on #1936
Done and tested
![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/9f858d3a-fcef-4914-8c2e-3c023cd48233)

[2019-09-17 14:40] #1936 closed

[2019-09-17 14:45] sebas932 commented on #1977
The SSL was installed using __https://test.results.cgiar.org__ as domain and embedded in __https://staging.cgiar.org/embed-cgiar-results-dashboard__  successfully.

I'm waiting for some adjustments proposed to Dodi.
![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/0ecc4f65-4c64-476e-826c-630c7871e8e8)

[2019-09-18 14:32] mralmanzar commented on #1951
the ETLs was delveloped and the mail was sended to Tania.

[2019-09-18 14:34] #1951 closed

[2019-09-18 14:44] mralmanzar commented on #1986
All documents and queries executed on production are in [this](https://cgiar.sharepoint.com/sites/CCAFS-KDS/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FCCAFS%2DKDS%2FShared%20Documents%2FMARLO%2F2%5FTechnical%2F2%5F7%5FData%2Fdeliverables%5Ffixes%5F20190909&FolderCTID=0x012000BB71C9314D97854699F9EC47A23EB94B) folder

[2019-09-18 14:45] #1986 closed

[2019-09-19 14:09] MateoVieira opened #1994 "[SA] Request for new Partner Institution's Link on Synthesis section"
Create a link on Synthesis on each CRP/Ptf to request for a new Partner Institution

- [ ] Task 1
- [ ] Task 2

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2019-09-19 15:22] sebas932 commented on #1977
This task is finished, with Dodi's help, we finally test the embedded

[2019-09-19 15:22] #1977 closed

[2019-09-20 13:29] danipilze commented on #1927
continued with #1990

[2019-09-20 13:29] #1927 closed

[2019-09-20 16:43] danipilze commented on #1924
continued in #1992

[2019-09-20 16:43] #1924 closed

[2019-09-20 16:50] danipilze opened #1995 "[DA] Reserve and upgrade COPERNICO instance"
Upgrade COPERNICO EC2 instance and it's reserve use for 3 years from now

- [x] Check current status
- [x] Define new instance type
- [ ] ~~Migrate to new EC2 Instance~~ (moved to #1996 )
- [ ] ~~Reserve instance for 3 years~~ (moved to #1996 )

**Deliverable:**
**Move to Review when:** ~~Instance is migrated~~
**Move to Closed when:** ~~Instance is working and is reserved~~

[2019-09-20 20:58] htobon commented on #1934
Hi @yeyo2k3, I think this one was already tested. Right?
If so, please feel free to close this issue.

Thank you,
Hector.

[2019-09-20 20:59] htobon commented on #1939
Closing this issue as I heard from @yeyo2k3 that this is already done.

[2019-09-20 20:59] #1939 closed

[2019-09-20 21:00] htobon commented on #1941
Hi @yeyo2k3, I think @mralmanzar will be quite busy the following week. Is there anything here I can help? Or is any other person in the team that can help you to test? Perhaps @HermesJim and/or @kenjitm?

Kindly let me know your thought on this.

[2019-09-20 21:02] yeyo2k3 commented on #1941
Ok, @HermesJim can test it too. I assign him to do  this.

[2019-09-20 21:09] #1934 closed

[2019-09-23 19:01] MateoVieira commented on #1988
Draft document:
https://docs.google.com/document/d/1gI_HqRwsRF7jIlVaLrBHlEryoLjzx6BUv1wBADARfpE/edit?usp=sharing

[2019-09-25 19:28] sebas932 commented on #1957
![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/41c4fec8-a27f-4873-987b-fc36288d3fba)

[2019-09-26 21:24] anamp07 commented on #1973
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/c93d5227-cc78-4032-b362-51d14943653b)

[2019-09-26 21:24] #1973 closed

[2019-09-27 13:16] MargaritaRamirez commented on #1975
I sent an email on September 4 to David, Hector, and Marissa with a link for them to comment first the possible changes to the narrative and try to collect all before the meeting.
Until September 19 the only person that commented on the text was David (September 6) thats why I sent a reminder and got Hector's comments that day.
We are waiting for Marissa's comments and try to coordinate a meeting

[2019-09-27 13:34] MargaritaRamirez commented on #1868
1. We identify that some of the information that we want to bring from MARLO is in CCAFS website project so we sent to Marissa an email with the discrepancy that we find in both sites and inform her that is better to have only one source of information (primary source) and we want that MARLO is the one.
We are waiting for her comments.

2. Add the information of the Project Location and Project Cl

[2019-09-27 14:22] danipilze commented on #1995
@MateoVieira
For now we have:

- meeting with IT about AWS current status
- agreeing about the use of current active instances reserves, particularly about the former Turing server
- agreeing about how to deal with other involved AWS services: such MACHETE, CLARISA, the RDS instances and the S3 buckets.
- agreeing about services migration procedure
- formally replying IT (Dolly) about actions to t

[2019-09-27 14:35] danipilze opened #1996 "[DA] Reserve and upgrade COPERNICO instance part 2"
Continuing #1995

- [x]  Migrate to new EC2 Instance
  - [x]   Move instance reservation to the new AWS account
  - [x]   Deploy instance using previously tested Puppet recipe
  - [x]   Test on the new deployed instance
  - [x]   Update DNS to point new instance
  - [x]   Shutdown former instance
  - [x]   Postmortem documentation
- [x]  Reserve instance for 3 years

**Deliverable:**
**Move to Rev

[2019-09-27 14:37] danipilze commented on #1995
continuing issue on #1996

[2019-09-27 14:37] #1995 closed

[2019-09-27 15:11] #1967 closed

[2019-09-27 15:11] anamp07 commented on #1967
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/06c09b55-ddee-4a71-a445-594f069024de)

[2019-09-27 15:15] anamp07 commented on #1964
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/22838b07-53d0-459b-a46e-6540798ae2e8)

[2019-09-27 15:15] #1964 closed

[2019-09-27 15:16] anamp07 commented on #1940
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/6cfe9276-f49e-4751-979d-76b40a44ae5f)

[2019-09-27 15:16] #1940 closed

[2019-09-27 15:17] anamp07 commented on #1968
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/cef6575d-cf86-4996-a010-7ae9a6c05d44)

[2019-09-27 15:17] #1968 closed

[2019-09-27 15:18] anamp07 commented on #1970
Done.
![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/40489d19-652f-4254-81f9-d0da3fc2f75f)

[2019-09-27 15:18] #1970 closed

[2019-09-27 19:25] #1925 closed

[2019-09-27 19:29] MargaritaRamirez commented on #1925
We sent the email to the CCAFS comms team on September 27 and you can see the final version in this link: https://www.canva.com/design/DADehg7amvI/share/preview?token=GDqHYzO1IblQGjN7ZmKuRg&role=EDITOR&utm_content=DADehg7amvI&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

[2019-09-27 20:40] #1990 closed

[2019-09-27 20:41] danipilze commented on #1990
documentation
https://docs.google.com/document/d/1AS3jZ2XR7UkUsCayoAZV4tvjyEm5aAKgSKiLNF69OTM/edit?usp=sharing

[2019-09-30 12:42] mralmanzar commented on #1899
Was developed a new cube that includes all trainees.
![image](https://user-images.githubusercontent.com/9383649/65879616-d06c6200-e355-11e9-8d53-056cc86d239f.png)

[2019-09-30 12:43] mralmanzar commented on #1899
The information was sent to snowflake and is showing on result dashboard
![image](https://user-images.githubusercontent.com/9383649/65879711-06a9e180-e356-11e9-811e-a46fbe791de9.png)

[2019-09-30 12:43] #1899 closed

[2019-09-30 12:46] mralmanzar commented on #1900
Was developed the new 2018 partnership cube.
![image](https://user-images.githubusercontent.com/9383649/65879779-335df900-e356-11e9-8a5e-16f06b6fee56.png)
The cube document was sent to Tania.
![image](https://user-images.githubusercontent.com/9383649/65879857-5ee0e380-e356-11e9-9219-ba8b22b79d3a.png)

[2019-09-30 12:46] #1900 closed

[2019-09-30 12:50] mralmanzar commented on #1913
All information was validated on MARLO.
![image](https://user-images.githubusercontent.com/9383649/65879955-9059af00-e356-11e9-86e7-75fccfd16baf.png)
Still pending the creation of around 100 partners on MARLO. Additionally was requested an official list of trainees to be updated,  Another issue will be created to handle this.

[2019-09-30 12:50] #1913 closed

[2019-09-30 12:56] mralmanzar commented on #1902
the cube was not updated. Just was included the information of 4 CRP in 2018 (A4NH, PIM, Livestock and CCAFS).
All information was successfully sent to the Dashboard.
![image](https://user-images.githubusercontent.com/9383649/65880584-a4ea7700-e357-11e9-975d-f1946e8390bc.png)

[2019-09-30 12:56] #1902 closed

[2019-09-30 13:00] mralmanzar commented on #1943
All publication data was imported successfully to MARLO.
Additionally was created a new table to handle the publication groups. This in order to handle the duplicated publications.
The Scripts, cube and documentation was updated and sent to Tania.
![image](https://user-images.githubusercontent.com/9383649/65880988-4eca0380-e358-11e9-8af8-3cb2bec3cc3c.png)

[2019-09-30 13:00] #1943 closed

[2019-09-30 19:51] sebas932 commented on #1972
Wont do

[2019-09-30 19:51] #1972 closed

[2019-09-30 20:01] sebas932 commented on #1860
@MateoVieira ask Shaylyn for feedback

[2019-09-30 20:31] mralmanzar opened #1997 "[MA] (QA) Create institutions on MARLO"
Create on MARLO the institution related [there](https://docs.google.com/spreadsheets/d/14yozEBqwqGGDGNR2A8bn_qLxL8k4fo-uI387zbsjn5w/edit?usp=sharing)

- [x] Create the institutions
- [x] Update the MEL OICR with the new institutions
- [x] Update the MEL Innovations with the new institutions
- [x] Update the MEL Partnerships with the new institutions

**Deliverable:** Mail to Tania to update the da

[2019-10-01 13:34] MateoVieira commented on #1952
@HermesJim Open POWB2020 is the second priority on this sprint 4.3.5., so if this is a need please prioritize this please, we should open POWB.20 by Oct 15.19

[2019-10-01 14:39] htobon commented on #1952
Thank you @MateoVieira.
I confirm this issue is a priority as we need to have the Gender platform displayed in the drop-downs when we open POWB 2020.

Please also note that the Gender Platform should not appear when we open AR 2019.

[2019-10-02 18:48] mralmanzar commented on #1984
All information was created on MARLO and sent to the dashboard.
![image](https://user-images.githubusercontent.com/9383649/66072536-da8b8d80-e51a-11e9-9580-5b3cddd7cdae.png)
![image](https://user-images.githubusercontent.com/9383649/66072573-e8d9a980-e51a-11e9-8d2c-541258eeb1b5.png)
![image](https://user-images.githubusercontent.com/9383649/66072627-03138780-e51b-11e9-8d98-1c69251d0d28.png)
Was se

[2019-10-02 18:48] #1984 closed

[2019-10-04 13:32] mralmanzar commented on #1989
CCAFS-KDS - Documents\MARLO\2_Technical\2_7_Data\2_7_1_Reports\Reporting 2018
CCAFS countries 20190103.xlsx

[2019-10-04 16:16] MateoVieira commented on #1989
I shared the document with @kenjitm for letting him Know about this future summary and he gave me some ideas for the template

[2019-10-04 18:55] MateoVieira opened #1998 "[SA] (CIMMYT specificity) Remove the budget section in MARLO"
Remove completely the budget section for CIMMYT’s Maize/Wheat CRP in MARLO at the project level, and just keep it at the synthesis level. Senior management wants to avoid confusion by not having a value in the budget section, so in past cycles, we had been entering “0” for each budget. We would like to take that one step further and remove it so that users do not see a budget section at all.

**De

[2019-10-04 19:24] MateoVieira opened #1999 "[SA] (POWB Adjustments) Budget by Partners section in Upkeep should extends to more following years"
Budget by Partners section in Upkeep2019 only extends to 2019, even for projects with 2021-2022 end dates, which are also attached to FS that have post-2019 end dates. So if a project was awarded funding of $60,000 over 3 years, MARLO should let specify that the project will receive 20K in 2019, 20K in 2020, and 20k in 2021. (ex: WLE - P1795)

- [ ] Task 1
- [ ] Task 2

**Deliverable:**
**Move to

[2019-10-09 16:46] #1997 closed

[2019-10-10 15:52] MateoVieira commented on #1957
-	There was added  the option to choose the “Primary” Sub-IDO per Flagship/Outcome (https://i.imgur.com/IFe63zi.gif)
-	Sub-IDOs per Outcome were limited to max of 3 (https://i.imgur.com/3GJvA96.gif)

[2019-10-10 15:54] #1957 closed

[2019-10-15 13:38] #1969 closed

[2019-10-15 14:33] HermesJim commented on #1941
Hi @yeyo2k3

The services works, tested with POSTMAN, but I was check the code and seen some Services have a wrong REST Service Type permission.
for example in innovations, you assigned READ PERMISSIONS in the delete function, that's wrong because the request DELETE isn't a read function. (See the Image)
Please can you organize the permissions according of the service functionality.
You can view t

[2019-10-15 14:35] HermesJim commented on #1941
If do you like, close this issue because the services works fine (using a super admin account) and create another issue with the goal to organize the REST API Permissions in Innovation and maybe check the others CLARISA services.

Regards :)

[2019-10-15 14:45] #1941 closed

[2019-10-15 16:05] sebas932 opened #2000 "[SA] (Adjustments AR2019) Project Highlights"
Issue description

- [ ] To request 2-3 highlights
- [ ] To include a (200 words) section instead of the current setup, _what did their project contribute to knowledge?_. Also, include how we use the information included in the project highlight information section.
- [ ] To remove the types, under description: _What do you view as the most important achievement in the year, included advances in u

[2019-10-16 14:57] yeyo2k3 commented on #1965
we develop a restriction and update query executed to get all projects with project partners centers relationship by phase and summited status.

this is On dev enviroment to test if some one want to test, what about @sebas932 @htobon ?

thanks

[2019-10-16 18:19] sebas932 commented on #1966
Hi Kenji,
Here there are other comments:

- [ ] Some Funding Sources have duplicated institutions.
![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/5f0caf30-3a0e-472b-8e5a-9cc1bf911eb9)

- [ ] When I filtered Bioversity in A4NH, some funding sources are appearing in both tabs (Ongoing, Archived), see __FS520 - W1/W2 to Bioversity for "Key leverage points"__
![image.png](h

[2019-10-17 20:09] yeyo2k3 commented on #1982
we create a option to set a phase as default crp. When a user set check this radio button set the new phase as a new crp parameter to current phase, In next login get new changes on landing page for the new phase.

[2019-10-18 14:58] yeyo2k3 opened #2001 "[DP] (MARLO) Disable budget by CoAs section specificity"
Create a specifity to enable or disabled section Budget by CoA for any Global Unit

- [x] Create CRP parameter
- [ ] Adjust Validators for project submit process
- [ ] Validate Sumaries Report

[2019-10-18 15:16] MateoVieira commented on #1860
-Shaylyn: "last year we added some questions about support received from the MARLO focal point so it might be nice to add those- do you have the survey from last year? If not, maybe just something like a 1-5 scale, and “How would you rate the support that you received from your internal centre-based MARLO focal point?”

[2019-10-18 15:43] #1982 closed

[2019-10-18 15:58] htobon commented on #1907
We decided not to hire a consultancy due to the CIAT IT team is currently making important improvements in the governance and features of the current AWS account that MARLO is using. As a result, we will close this issue.

[2019-10-18 15:58] #1907 closed

[2019-10-21 16:30] yeyo2k3 commented on #2001
this task will not be done, Because this section was planned to be deleted from MARLO.

[2019-10-21 16:30] #2001 closed

[2019-10-21 18:58] MateoVieira commented on #1860
update done on the survey so is ready to be sent to Maize and Wheat users only
we have already greenlighted from Shyalyn

[2019-10-21 19:23] MateoVieira commented on #1960
@yeyo2k3 Diego can you describe more this issue, showing how is now, and explain the improvements

[2019-10-21 19:28] MateoVieira commented on #1850
@mralmanzar has a draft document with the criteria that should be checked at the time of choosing a BI tool

[2019-10-21 19:39] yeyo2k3 commented on #1960
Done

[2019-10-21 19:42] MateoVieira commented on #1971
@yeyo2k3 Can you comment the subject of the following up emails to Patricia, please

[2019-10-21 20:17] MateoVieira commented on #1869
can you check Sebas checkboxes?
@HermesJim @htobon

[2019-10-21 20:19] MateoVieira commented on #1883
the deadline already passed, shall we close this Issue? @yeyo2k3

[2019-10-21 20:36] MateoVieira commented on #1952
@HermesJim will leave a doc. explaining how to implement this.

[2019-10-21 20:48] MateoVieira commented on #1978
Related with Issue #1850 about criteria of a BI tool

[2019-10-21 20:57] MateoVieira commented on #1981
this Issue will be closed because it is included in #1966

[2019-10-21 20:57] #1981 closed

[2019-10-22 13:06] mralmanzar commented on #1980
- Innovations was imported manually from  templates sent by MEL
- Publications was imported manually from an excel sent by Leo
- Capdev was imported manually from the official AR2018 documents
![image](https://user-images.githubusercontent.com/9383649/67288456-9f89d380-f4a2-11e9-9be3-58e27b612006.png)
![image](https://user-images.githubusercontent.com/9383649/67288507-baf4de80-f4a2-11e9-8a77-cfec1

[2019-10-22 13:09] mralmanzar commented on #1980
To import the affiliation of each publication, the 100 main institutions were imported to MARLO. the missing institutions in MARLO must be completed.

[2019-10-22 13:09] #1980 closed

[2019-10-22 13:11] mralmanzar commented on #1983
Was created arround 120 new instututions on MARLO in order to import the complete information of partnerships.
![image](https://user-images.githubusercontent.com/9383649/67289025-8897b100-f4a3-11e9-886f-ef4f14dc3350.png)

[2019-10-22 13:11] #1983 closed

[2019-10-22 13:15] mralmanzar commented on #1985
Was imported the OICR and Policies using the QA files from SMO.
![image](https://user-images.githubusercontent.com/9383649/67289221-e3310d00-f4a3-11e9-86a8-d9b5392dc7d8.png)
![image](https://user-images.githubusercontent.com/9383649/67289319-08258000-f4a4-11e9-8b63-40f803d6ea69.png)

[2019-10-22 13:15] #1985 closed

[2019-10-22 13:27] #1996 closed

[2019-10-22 16:42] #1721 closed

[2019-10-22 19:20] MateoVieira commented on #1860
MARLO is not going to do the survey to nither of the users, maybe just share the survey draft to Shyalyn so she could use it and analyze the results
MARLO Team will do another survey to ask about AR and POWB after POW2020 had finished.

[2019-10-22 19:21] #1860 closed

[2019-10-24 14:23] MateoVieira commented on #1989
CCAFS-KDS - Documents\MARLO\2_Technical\2_7_Data\2_7_1_Reports\Reporting 2018
Doc.Name: Template CCAFS Summary by countries

@htobon the template is ready for the next action (Write an email to the smaller group)

[2019-10-25 21:04] MateoVieira opened #2002 "[MV] ( Framework) Communication with MARLO Family"
Interpret the way MARLO communicate with the users and design a base framework to be able to improve it or at least visualize it

- [ ] Create a draft framework
- [ ] Talk with the team to share it
- [ ] Make adjustment after the feedback of the team

**Deliverable:**  Communication's Framework

**Move to Review when:**
**Move to Closed when:**

[2019-10-25 21:05] MateoVieira commented on #2002
first draft:
https://docs.google.com/presentation/d/1NBQjlBWCVUJoVyhY6b9PG316pBMbdEs-N7CdPeBl2MU/edit?usp=sharing

[2019-10-28 20:38] MateoVieira opened #2003 "[RESP] (Release) validation scrip"
Use de Alasn's Scrip used for DSpace ecosystems which is made to run in Python
transcript some of the functionalities to our language in order to check the control lists and other tables that may have junk ( deliverables_metadata_elements)

- [ ] transcript some of the functionalities of Alan's scrip to ( our language)
- [ ] validate our control contact list and our BD to optimize the size

**Deli

[2019-10-29 13:16] kenjitm opened #2004 "[KT] Remove relationship between deliverables partners persons"
Remove relationship when deliverable partner person is deleted from a partnership in deliverable but in project partners still appear in both partners

[2019-10-29 15:33] #1975 closed

[2019-10-30 18:51] MargaritaRamirez commented on #1868
We sent an email to Marissa with the projects that we have in MARLO in the upkeep 2019 section for the comms team to help us relate the URL so we can compare one-by-one the differences between projects.

[2019-11-01 16:19] sebas932 opened #2005 "[DP] (MARLO) Fix Issue of WLE Cluster Leaders with privileges to edit all CRP Projects instead of the only ones related to their assigned CoA."
At this moment, they are allowed to edit any project section (See permission: https://i.imgur.com/AGoxBMg.png), MARLO must filter this privilege in order to allow to edit only the projects where they were assigned as CoA Leader

Case example:
![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/0dde2ff0-29b2-4d59-9c11-49fbf2efc39b)

[2019-11-01 20:53] #1952 closed

[2019-11-01 21:00] MateoVieira commented on #1729
@yeyo2k3 can you check if this had been implemented?

[2019-11-01 21:14] sebas932 opened #2006 "[SA] Adjustments in Synthesis for POWB2020"
Issue description

Order by priority:
- [x] Show extended milestones in **table 2A** (Interface and Word Document)
- [x] In section **2.3 Planned Collaborations** for PMU, allow the possibility to add/edit collaborations entered by Flagships
- [x] Add an optional text field to add additional explanations about **Table 3** and show it in the Word Document
- [x] Include in section **2.3 Planned Coll

[2019-11-13 16:28] MateoVieira opened #2008 "[AP] (Dashboar) Dashboard URL now live"
Issue description

- [ ] Task 1
- [ ] Task 2

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

Sonja's queries:

-          Why are Platforms in the dropdown menu when there are no data for any of them?
-          In general, do blank pages mean that the CRP did not produce any of that indicator, or that the data are missing? E.g. Livestock and Fish innovations, Livestock CapDev

[2019-11-14 18:43] MargaritaRamirez commented on #1928
We sent an email on Nov 12 to Osana Bonilla and Carlos Navarro to ask them for their help and also sent an email to the Macaroni Bro. with the pages links that are not working at this moment.
We will ask Laura Cramer and Philip Thornton for their help too for this project.

[2019-11-14 19:06] MargaritaRamirez opened #2009 "[MR] (AR 2019) Document annual report process"
Create a document with all the steps that we have to accomplish before we send the final information of all the deliverables validated and with their score.

- [x] Deliverable validation
- [x] Journal paper by center
- [x] Publications list
- [x] table for evidence D (AR template)
- [x] Statistics (how many OA, ISI, #articles, #publications, cross cutting dimesio,...)

**Move to Review when: The t

[2019-11-15 13:06] anamp07 opened #2010 "[AP] (QA Platform) Create a diagram for the QA Process"
Create a diagram explaining how QA Process is going to be.

- [x] Discuss how the process is going to be.
- [x] Create the diagram.

**Deliverable:** QA process diagram.
**Move to Review when:** Ready to be reviewed by David.
**Move to Closed when:** Reviewed and approved by David.

[2019-11-15 13:38] MateoVieira commented on #1979
@htobon to be defined from you with @mralmanzar if move forthware with this.

[2019-11-18 13:47] MargaritaRamirez opened #2011 "[MR] (Project Highlight) Revamp for the Project Highlight section in MARLO mock-up"
According to ticket #1442 in fresh desk, we need to revamp the mock-up for the project highlight section in MARLO. We have to condensate the information and try to make fewer questions and let open space for the people to right.

- [x] Review the message from Andy Jarvis and understand what is his suggestion
- [x] Start the new mock-up
- [x] Send to David and Hector for their approval
- [x] Discus

[2019-11-19 12:40] htobon opened #2012 "Action Points Sprint meeting 4.3.7"
- [x] Mateo to create a baseline in terms of tickets + online chats + exceptions from this year (if possible, from previous years too). This baseline should be made per month. This will be used when the team is planning the objectives for 2020. --> move to the next sprint 4.3.8
- [x] Inform Pascale and MARLO Family about the revamp of the Synthesis section of POWB once it is released in production

[2019-11-19 15:29] htobon commented on #2006
Thank you @kenjitm and @sebas932 for working on this.
Here are some comments.
- [ ] **TABLE 2A** - Please fix the Word-document generator according to the following thought
![image.png](https://images.zenhubusercontent.com/57741a6dbf93871ccd9d5f48/3c8989aa-1d7d-41cc-87df-a747456108b3)

- [ ] **TABLE 3** Check word limit validator
![image.png](https://images.zenhubusercontent.com/57741a6dbf93871ccd

[2019-11-19 15:31] htobon commented on #2006
- [ ] **TABLE 2C: ** List is cumbersome to read, we should allow the possibility to download it.
![image.png](https://images.zenhubusercontent.com/57741a6dbf93871ccd9d5f48/8b3f6784-741b-4a09-94fe-bc71d2fb13a1)

[2019-11-19 15:57] MateoVieira commented on #1989
Manuel actualized the report with AR2018 Info

D:\CGIAR\CCAFS-KDS - Documents\MARLO\2_Technical\2_7_Data\2_7_1_Reports\Reporting 2018

--> CCAFS Summary by countries 20191119_MV_MA  (https://www.screencast.com/t/4o1OsEGdc3T)

@htobon the template is ready for the next action (Write an email to the smaller group) and share with David

[2019-11-19 16:01] MargaritaRamirez commented on #2006
I made one test and the section let me include and delete without trouble
My only comment is that maybe the additional comments of table 3 could appears bellow the table per se

![test.jpg](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/8846fa89-b97a-4e28-a90a-eff95f4a7fa3)
![test 2.jpg](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/9d342364-85a3-4637-a766-73a3d72009

[2019-11-19 23:23] sebas932 opened #2013 "[SA] Create an embed widget for MEL/DMSP Support pack"
MEL Support pack needs this feature in order to adjust the height size automatically when is embedded in the CCAFS Website (https://ccafs.cgiar.org/mel-support-pack)

[2019-11-19 23:34] sebas932 opened #2014 "[KT] DMSP/MEL Support pack create process to request addition of new guidelines"
Issue description

![image.png](https://images.zenhubusercontent.com/5797d32de40e5714b16c907e/ec108d8c-1b95-4869-83e5-837d3b233d74)

[2019-11-20 13:48] MateoVieira opened #2015 "[MV] (Partner Institutions) New_institutions_insigths"
Validate the list of new possible institutions, if an institution already exists in MARLO put the ID on the list, that way we will be able to determinate the amount new institutions and the time required to creat them.

- [ ] check the institution names in MARLO
- [ ] Include the missing institutions

**Deliverable:**
**Move to Review when:**
**Move to Closed when:** all the list is completed with

[2019-11-20 14:16] MargaritaRamirez commented on #2011
![2019-11-20_0914.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/680018d6-49e0-4fc6-813c-6027c4ee5aef)

Work with Andy Jarvis message of project highlights and try to condensate the information in a simple way.

[2019-11-20 15:37] MargaritaRamirez commented on #1868
We will have a meeting with the comms team on November 25 and present what we want to do with this project and explain them why is so important that they link the correct URL for the project in MARLO so we can document the process and try to understand who is going to be our information source.
This are the themes that we are going to present in the meeting:
1)	Tell people what’s coming
2)	Show th

[2019-11-26 21:16] MateoVieira commented on #1989
report updated
CCAFS Summary by countries 20191126_MV_MA

[2019-11-28 12:57] MargaritaRamirez commented on #2011
Nov 25: We made an update according to the suggestions of David and we put 2 options for the project highlights

https://docs.google.com/presentation/d/1cclP7ZFpKqApFrHyzugZ2EX5TW9ZUqEMP4CiNWevEVI/edit?usp=sharing

Nov 27; Marissa liked the idea of the option 2 (make a short section in project description).
Pending Task: Hector and David to share the idea to Andy, if positive, we will share it wit

[2019-11-28 13:11] yeyo2k3 commented on #1961
I fixxed cause, it loading information about loged CRP in this case is a CENTER, and its no loading information about Share CRP info.

![image](https://user-images.githubusercontent.com/51238402/69808629-fb3c3080-11b5-11ea-9538-00390d979804.png)

Additionally I added a funtionaly to restric to all user can modify info in a shared project except mapping centers programs and regions section to some

[2019-12-02 19:10] yeyo2k3 commented on #1960
I develop changes to include Center Staff List

![image](https://user-images.githubusercontent.com/51238402/69987320-3f5c6780-150d-11ea-92cb-329dcbfeb856.png)

[2019-12-02 19:19] yeyo2k3 commented on #1960
Continuing with develop I create a new feature to diferentiate a center project with a shared project
![image](https://user-images.githubusercontent.com/51238402/69988038-cfe77780-150e-11ea-9f99-2a29f77569db.png)

[2019-12-02 19:31] yeyo2k3 commented on #1965
I develop a restriction to allow a CRP admin can map programs and regions where CIAT center is collaborating

![image](https://user-images.githubusercontent.com/51238402/69988390-9400e200-150f-11ea-8fab-7e92bf6d5197.png)

when a non admin user logged, He can only  map outcomes where his area was mapped to project
![image](https://user-images.githubusercontent.com/51238402/69988654-0d98d000-1510-11

[2019-12-05 19:47] #2006 closed

[2019-12-09 19:59] MargaritaRamirez commented on #1868
On Dec 9 we had a meeting with Marissa, Hector and David to discuss what will be the process to update the information and we decide:
1. The comms team could review the information in MARLO and make the changes that they need before sending the information to the project page
2. How can we include hyperlinks in MARLO fields (description field)
3. Marissa will check what would be the ideal word lim

[2019-12-10 16:34] #1413 closed

[2019-12-10 16:40] yeyo2k3 commented on #1729
Team decided to close and does not implement this issue.

[2019-12-10 16:40] #1729 closed

[2019-12-10 18:57] yeyo2k3 opened #2017 "[DP] Create Database mapping for CLARISA indicators to CIAT programs and regions"
- [ ] OICR
- [ ] Policies
- [ ] Innovations

Create a structure in the MARLO database to map the CLARISA indicators to CIAT programs and regions (centers)
so that the information of the templates entered by Lizzy  can be stored in MARLO

[2019-12-10 19:06] yeyo2k3 opened #2018 "[DP] (CLARISA) Implement CLARISA indicators (Policies)"
Implement CLARISA functionalities to obtain data of CLARISA indicator (Policies)
Policies
- [x] Get
- [x] Post
- [x] Delete
- [x] Put
- [ ] Validator

[2019-12-10 19:11] yeyo2k3 opened #2019 "[DP} (CLARISA) Email Sender fix from doppler to CIAT/Symantec servers"
follow up with IT about forwarding between SMTP servers and DOPPLER server.

[2019-12-10 19:26] kenjitm opened #2020 "[KT][MARLO] AR 2019 Adjustments"
Analyze and develop the changes to be implemented in Annual report

https://drive.google.com/file/d/1DLyhbmV3SzP0MdtyDujOzStfuIwW35DL/view

- [x] Map Milestones to Innovations and Policies.
- [x] Map PPA Partners to Innovations, Policies and OICRs.

Progress Status in:

https://docs.google.com/spreadsheets/d/1PV2WJ_YEF5im1STv70V5qJ5XMPyMohDCS6Uo3STd-0A/edit#gid=0

**Move to Review when:**
This bra

[2019-12-10 19:35] MateoVieira opened #2021 "[MA] (CIAT-MARLO) Project dashboard-CIAT"
Issue description: Add projects info to CIAT result dashboard, after this

- [ ] define field information to show
- [ ] create information cube
- [ ] create dahboar in DataEstudio

**Deliverable:** dashboard with projects information
**Move to Review when:** hector check
**Move to Closed when:**when Lizzy approve it

[2019-12-10 19:37] kenjitm opened #2022 "[KT][MARLO] Budget Summary per Partners Summary Modifications"

[2019-12-10 19:43] MateoVieira opened #2023 "[MA] (BI) Authenticate MARLO To Datastudio."
Issue description. valited if is posile to use dataestudio

- [x] get inform about it on internet

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2019-12-10 19:51] MateoVieira opened #2024 "[MA] (BI) Create cubes from CGIAR dashboard to BI"
Issue description: Copy cubes from CGIAR Results Dashboard (E.g. Innovations, Policies, OICRs, etc.) in order to use them in MARLO.

- [x] create ETL( extraction,transformationand load information from dashboard cube to PowerBI)
- [ ] update CCAFS dashboars  to take cubes( OICR, Policies, Innovation, Deliverables) information

**Deliverable:** Cubes located in the data warehouse and Power-BI conne

[2019-12-10 19:59] MateoVieira opened #2025 "[MA] (BI) Deliverable cube"
The current Dashboard of deliverables is not developed as a cube but as a master table. It must be changed to Cubes to be more user-friendly.

- [ ] design the cube structure
- [ ] define the Querys for each table and fact dimension
- [ ] create the ETL
- [ ] adjust the Dashboard graps

**Deliverable:**
**Move to Closed when:**

[2019-12-10 20:07] MateoVieira opened #2026 "[MA] (CGIAR Results Dashboard) Document the cubes and upload it to Dataverse"
All cubes need to be documented in order for other people to understand how they are made and can play with the raw data. In order to do this, we are preparing a series of Word documents that describes all the tables and main columns for each Cube so others can use it as a reference.

- [x] update graphs (The graph that is at the beginning of the word document)
- [x] check text field
- [x] Manuel

[2019-12-10 20:08] #1850 closed

[2019-12-10 20:09] mralmanzar commented on #1850
Due to the easy way to create the graphs, Datastudio will be the BI tool to create the Dashboards.

[2019-12-10 20:10] #1978 closed

[2019-12-10 20:20] MargaritaRamirez commented on #1928
We contact Laura Cramer and we will meet on Dec 16/2019

[2019-12-10 20:46] MateoVieira commented on #1897
@htobon can you please validate in Dev the adjustments?

[2019-12-10 21:07] #2008 closed

[2019-12-10 21:07] MateoVieira commented on #2008
We will proceed to close this Issue because it has been managed Dashboard Issues

[2019-12-10 21:08] sebas932 commented on #2013
Done

[code]

[2019-12-10 21:08] #2013 closed

[2019-12-10 21:12] sebas932 commented on #1998
We decided to remove the rule in the validator for all CRPs and platforms, so, it won't be required anymore

[2019-12-10 21:12] #1998 closed

[2019-12-10 21:16] yeyo2k3 commented on #1962
I develop restriction to enable read mode for shared projects and disable link to access funding source mapped to a partner

[2019-12-11 13:32] yeyo2k3 commented on #1954
there are some use case when this funtionality should be keep it from backend, I was talking with team  and is better control this date by frontend, @anamp07 could you help us with this control?

[2019-12-11 16:32] MateoVieira commented on #1991
Marlo front end server was blocking  the content  access
currently, the team does not have privileges  to manipulate Apache permissions

we had to ask Santiago to do any single change, so it does not let us progress easily

[2019-12-11 16:40] #1991 closed

[2019-12-11 16:47] MateoVieira commented on #1992
Due to the current migration and sensible phase for the project, it wasn't appropriate that the database is intervened, that would be a high-risk procedure.

in the future, if we implement a new software architecture, we should consider this fact as a technical aspect for the new database design.

we will proceed to close this issue.

[2019-12-11 16:47] #1992 closed

[2019-12-11 19:25] #2012 closed

[2019-12-11 19:28] MateoVieira opened #2027 "[MV] (Project) Base lines"
Mateo to create a baseline in terms of tickets + online chats + exceptions from this year (if possible, from previous years too). This baseline should be made per month. This will be used when the team is planning the objectives for 2020.

- [ ] Take info from github
- [ ] Take info from google analytics
- [ ] draft on excel the base lines

**Deliverable:**
**Move to Review when:**
**Move to Close

[2019-12-11 19:42] MateoVieira commented on #2011
Ask the TEAM witch CRP are using project highlights @MargaritaRamirez ??
to know who in the MARLO Family should be contacted

[2019-12-16 15:59] MargaritaRamirez commented on #1928
At our meeting with Laura, we informed her what is the main idea of this revamp and she told us that she could help us but in January 2020.
Actions points:
- Organize the excel sheet for a better look
- Create a description of the type and topics
- Send an email to Osana, Laura, and Carlos with the new excel to explain to them what it's our needs.

[2019-12-16 16:02] MargaritaRamirez commented on #2011
We ask @mralmanzar for his help to collect the information (database) of who is the CRPs that are working with Project Highlights to send it to @htobon so he can send the information of the revamp directly to that CRPs of MARLO family.

[2019-12-16 20:46] MateoVieira opened #2028 "[MV] (GLDC-CRP) Copy CIAT-MARLO projects in GLDC-CRP"
transcript al the CIAT-MARLO project into GLDC-CRP

- [x]  create / sincronice FS
- [x] Copy and paste all the description info
- [x] copy budgets in mapped FS
- [ ] Enriko will set the impact pathway

****
**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2019-12-18 16:44] MargaritaRamirez commented on #2011
@mralmanzar sent the information with the CRPs that have project highlights active in their system:

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/0a454384-1dff-4bc6-a605-8eb77d424636)

Also, we reviewed the information and we find out
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/95f7b0f5-b4df-4203-8b47-02b529fa238a)

[2019-12-19 20:33] #1897 closed

[2020-01-08 13:32] anamp07 commented on #1908
Done.
Added to MARLO > Technical folder.

[2020-01-08 13:33] #1908 closed

[2020-01-08 21:12] MargaritaRamirez commented on #2009
@htobon @MateoVieira
The template is complete at the following [link](https://docs.google.com/document/d/16XYArEGhuRbqJLsAweY6RVvWm8WGu7W36GytVNHBtTk/edit?usp=sharing) for you to review and make the necessary comments.

[2020-01-08 21:16] MargaritaRamirez commented on #2011
According to @htobon, we need to start a [template](https://docs.google.com/document/d/1QFPDT991YdbV8vZvF9g-6NB0NCBFnZ7TGc4vZwHMCB8/edit?usp=sharing) for the email that we need to send to MARLO family (the CRPs that have the section active) in order to have a unanimous desition to move the project highlights section to the project description.
If they do not approve we will develop a specificity f

[2020-01-09 13:43] kenjitm opened #2029 "Improve Reported Deliverables generation and format for not reponting Phases"
In generating the report for different phases to reporting, ex. UpKeep, there are columns to reporting which should not be taken into account, for example ‘deliverable complete’.

[2020-01-10 13:01] kenjitm opened #2030 "Show collaborators in full project report"

[2020-01-13 14:32] yeyo2k3 opened #2031 "[DP] (CLARISA) Create JSON examples of CGIAR Dashboard tables to MEL"
Create a JSON example for every Dashboard Table exposed in CLARISA for MEL,

- [x] Innovations
- [x] Policies
- [x] External partnership
- [x] Publications
- [x] Outcomes and Milestones
- [x] OICRs
- [x] Internal Cross CGIAR collaborations
- [x] Cap-dev
- [ ] W1/2 Use
- [ ] CRP financial Report
- [ ] Update Actions to Relevant Evaluations
- [x] MELIA
- [x] Progress Towards SRF targets

Deliverable

[2020-01-13 16:01] MateoVieira commented on #2009
waiting @htobon comments

[2020-01-14 16:17] #2028 closed

[2020-01-14 20:38] yeyo2k3 commented on #2019
we have recieved a notification by CIATnet that the problem has been resolved. We tested it and it works

![image](https://user-images.githubusercontent.com/51238402/72380618-ca6f7680-36e3-11ea-8027-1c361d956b7c.png)

[2020-01-14 20:39] #2019 closed

[2020-01-17 19:21] MargaritaRamirez commented on #2015
@mralmanzar
We validate all the institutions on the list.
There are 561 out of 622 that need to be creat in MARLO.

[2020-01-29 14:00] MateoVieira opened #2032 "[KT] (replication) Impact pathway replication for all phases"
-Helen: "I closed POWB 2020 and opened POWB 2019 Upkeep to add numbers to the 2019 milestones.  Then when I closed that module and reopened POWB 2020, most of the milestones that flagships had entered as new for 2020 had disappeared, and the numbers for the ones that were extended from 2019 to 2020 were still missing in the table."

- [x] Identify replication problems of the phases from POWB to Up

[2020-01-29 16:59] MargaritaRamirez commented on #2011
We decided to only include the specificity for CCAFS
@kenjitm please proceed with this change only for CCAFS

[2020-01-29 16:59] MargaritaRamirez commented on #2009
Waiting for @htobon comments

[2020-01-29 19:04] mralmanzar opened #2033 "[KT] (MARLO) Control list do not include actual database value"
On MARLO the control lists don't include the value stored on Database. Due to this, a wrong value is saved.
For example, on evidences for POWB2020 phase, on database there are 2019 year, but is not selectable on  combo  (see [screenshot](https://i.imgur.com/HaJVGBr.png))

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2020-02-11 16:41] MargaritaRamirez commented on #2009
Waiting for @htobon  comments

[2020-02-11 16:44] MargaritaRamirez commented on #2011
@htobon please inform us if we can close this issue and have this improvement for the next cycle.

[2020-02-11 19:32] MargaritaRamirez commented on #1961
@MargaritaRamirez please review

[2020-02-11 19:33] MargaritaRamirez commented on #1965
@MargaritaRamirez please review

[2020-02-11 19:34] MargaritaRamirez commented on #1960
@MargaritaRamirez please review

[2020-02-11 19:34] MargaritaRamirez commented on #1962
@MargaritaRamirez please review

[2020-02-11 19:36] MargaritaRamirez commented on #2017
According with @yeyo2k3 this was no priority for this sprint because we change all the project from GLDC as a CRP.

[2020-02-11 19:39] MargaritaRamirez commented on #2031
We already developed 6 JSON structure out of 13 for MEL
Deadline: March 2020

[2020-02-11 19:42] MargaritaRamirez commented on #2018
@mralmanzar please test the service for Policies.

[2020-02-11 19:43] #1971 closed

[2020-02-11 19:49] #1954 closed

[2020-02-11 19:53] MargaritaRamirez commented on #1895
See the blog
https://marlo-news.blogspot.com/2020/01/deleted-fields-in-marlo-project-menu.html

[2020-02-11 19:53] #1895 closed

[2020-02-11 19:55] MargaritaRamirez commented on #2014
Deadline: March 2020

[2020-02-11 20:07] MargaritaRamirez commented on #2010
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/9dad5570-a87f-425e-b58c-abd2611d7a26)

[2020-02-11 20:08] #2010 closed

[2020-02-11 20:22] MargaritaRamirez commented on #2023
It's not possible to connect to Datastudio.
We will work with PowerBI

[2020-02-11 20:22] #2023 closed

[2020-02-11 20:25] MargaritaRamirez commented on #2024
Pending dashboard: OICRs, Innovations, and Deliverables

[2020-02-11 20:28] MargaritaRamirez commented on #2026
Pending meeting with David for the final review.

[2020-02-11 20:29] MargaritaRamirez commented on #2015
Activity related to Edwin Cortes for the next sprint.

[2020-02-11 20:33] MargaritaRamirez commented on #1868
In our last meeting on Feb 4 with Marissa, David, and Hector we decide to:
- Marissa to include the mockup in the whole revamp of the website for the core team.
- We will work with the Annual Report section.
- Marissa and the comms team will select which project they want to show on the website.

[2020-02-12 16:47] yeyo2k3 opened #2035 "[GM] (CLARISA) Implement CLARISA indicators (Key External Partnership)"
External Partnership
- [x] Get
- [x] Post
- [x] Delete
- [x] Put
- [ ] Validator

Deliverable: Clarisa funtionality

Move to Review when:  Funtionality will be implemented on Clarisa Dev
Move to Closed when: Funtionality will be implemented on Doppler

[2020-02-14 15:41] anamp07 opened #2036 "[KT] (MARLO) Adjust AR2019 Synthesis"
Adjust Synthesis section according to the [template](https://drive.google.com/file/d/1XXsVmnB8GpMZ4whOWiJYpQnq4q-cbL7z/view).

- [x] Add PhD in Table 7 (CapDev)
- [x] Add sub-IDOs in table 5.
- [x] Increase the word limit for "Summary narrative on progress against each flagship outcome this year" (200 words) and the evidence (50 words) in table 5.
- [x] Adjust Word Document
- [x] Update Study Type

[2020-02-14 15:47] yeyo2k3 opened #2037 "[DP] (CLARISA) Implement CLARISA indicators (Outcome Impact Case Report)"
Implement CLARISA functionalities to obtain data of CLARISA indicator (Outcome Impact Case Report)
OICR
- [x] Get
- [x] Post
- [x] Delete
- [x] Put
- [ ] Validator

Deliverable: Clarisa Swagger Doc and Rest Service.
Move to Review when: Clarisa funtionality will be implemented on CLARISA dev enviroment.
Move to Closed when: Clarisa funtionality will be implemented on CLARISA Prod enviroment.

[2020-02-14 15:50] anamp07 opened #2038 "[AP] (Results Dashboard) Design a mockup to include Genebank data in the dashboard."
Design the mockup according to the information we received from Genebank.

- [x] Analyze the data to propose charts (with Manuel).
- [ ] Design the mockup.

**Deliverable:** Mockup.
**Move to Closed when:** the mockup is finished.

[2020-02-14 16:13] anamp07 opened #2039 "[MA] (BI) Embed the project status dashboard in MARLO"
- [x] Develop the cube of project status.
- [x] Develop the dashboard in PowerBI.
- [x] Design a mockup of how the dashboard is going to be in MARLO (AP).
- [x] Create the action in MARLO (KT).
- [x] Develop the front-end in MARLO (AP).

**Deliverable:** Dashboard in MARLOdev.
**Move to Review when:** Dashboard is in MARLOdev.
**Move to Closed when:** Approved by Hector.

[2020-02-14 16:36] #1871 closed

[2020-02-14 20:31] #1843 closed

[2020-02-14 20:47] htobon commented on #2011
Hi @MargaritaRamirez. Thanks for following up on this. Since we are currently in the middle of the reporting period and this adjustment should have made before we start the process, I think we should at least wait until we finalize it and then we have a window of time to adjust the section again and ask for MARLO FAmily to review it and agree on it. What do you think? I would say that we should do

[2020-02-14 20:48] htobon commented on #1961
@MargaritaRamirez and @yeyo2k3 Should we close this?

[2020-02-14 20:48] htobon commented on #1960
@yeyo2k3 if this is production, please close this issue.

[2020-02-17 18:21] MargaritaRamirez commented on #1928
Feb 3:
Laura sent us her comments about the possible classification:
1.	Several of the links I clicked for at least the ‘agriculture’ category of tools are for tools created by other organizations. I would suggest we remove them unless there’s a strong reason to keep them. Then I would suggest we have them in a separate section for ‘tools created by partners/others’.
2.	Some of the links/tools do

[2020-02-17 18:23] MargaritaRamirez commented on #1928
Feb 10:
We had a meeting with Marissa and agreed on"
- Marissa to review the once that we identify as a publication and inform us if we can remove it or leave there
- Margarita to review the links and get the information of the contact person
You can consult the spreadsheet in this link:
https://docs.google.com/spreadsheets/d/14UVlamRPfW4KJ0BFzJq7Lwe_ya8v-5tay3H-DaePRIk/edit?usp=sharing

[2020-02-17 18:26] MargaritaRamirez commented on #1928
Feb 17:
We collect some information and Marissa will involve one of her students for them to identify the possible contact person and also is the page needs to be removed or not.
We don't have deadline for this task because they are preparing the PMU retreat.

[2020-02-17 18:35] MargaritaRamirez commented on #2011
Hi @htobon ok, I will send this issue to future sprints.
Thanks

[2020-02-17 21:21] Edwin0307 opened #2040 "[FE] (QA) Assignment of servers for the Testing and Production environments"
- [x] Request a server for the testing environment.
- [ ] Request a server for the production environment.

**Move to Closed when:** The testing environment and the production environment are ready.

[2020-02-18 12:55] Edwin0307 opened #2041 "[FE] (QA) Mock-Up FeedBack."
- [ ] Send the Mock-Up and wait for the feedback

**Deliverable:** Mock-Up
**Move to Review when:** Mock-Up is ready to Feedback
**Move to Closed when:** After Mock-Up Feedback

[2020-02-18 13:19] yeyo2k3 commented on #1961
@htobon this issue is in dev environment and has been not tested yet. we need time to create a test plan, after that we should be pass this develop to production.

[2020-02-18 13:21] yeyo2k3 commented on #1960
@htobon  this issue is not in production yet, we have to create a testing plan, after testing we could be move from dev to prod.

[2020-02-18 15:15] Edwin0307 opened #2042 "[FE] (QA) Create the progress page of the prototype"
Create the homepage for the Admin and the Assessor view in the prototype.

- [x] Create the back-end
- [x] Create the front-end

**Deliverable:** Progress Page
**Move to Review when:** Progress page is ready
**Move to Closed when:** Progress page is reviewed

[2020-02-18 19:47] MargaritaRamirez commented on #1868
We coordinate a meeting with Diego and Hector to review what we have so far developed for the project page and discuss possible improvements before passing the information to the Macaroni Bros, according with the Macaroni meeting last week.

[2020-02-19 14:19] MargaritaRamirez commented on #1928
Feb 19:

The big twist, take the information of MARLO.

[2020-02-20 12:39] anamp07 opened #2043 "[AP] (Results Dashboard) Design a mockup to include Global Filters in the Dashboard"
- [x] Define the information we will include in the new sections.
- [x] Design the mockup.

**Deliverable:** Mockup.
**Move to Review when:** Ready to be reviewed by Hector and David.
**Move to Closed when:** Approved by Hector y David.

[2020-02-20 15:52] MargaritaRamirez opened #2044 "[MR] (AR2019) Submit our P270 in MARLO"
Update the information of our deliverables, policies, innovation, OICR in MARLO for the annual report phase

- [x] Complete the deliverables information
- [x] Complete Policies, Innovation and OICRs

**Move to Review when: we add the information**
**Move to Closed when: David review it**

[2020-02-20 18:34] #1928 closed

[2020-02-20 18:42] MargaritaRamirez commented on #2009
According to @htobon reviewing, I will close this issue.

[2020-02-20 18:42] #2009 closed

[2020-02-24 13:08] Edwin0307 opened #2045 "[LB] (CLARISA) Project Page"
External Partnership

- [ ] Post

**Deliverable:** CLARISA funtionality
**Move to Review when:** Funtionality will be implemente on CLARISA DeV.
**Move to Closed when:** Funtionality will be implemente on Doppler.

[2020-02-24 13:12] yeyo2k3 commented on #1869
@Luisfben could you try to resolve this issue please?

[2020-02-24 13:13] gcmartinezg commented on #2035
Implementation is taking me longer than it should. I expect to finish PUT by the end of the day and to test that tomorrow morning.

[2020-02-24 15:24] Edwin0307 opened #2046 "[BS] (MARLO) Fix and redesign CapDev charts in Synthesis"
- [x] Fix the load problem in the graphics.
- [x] Adjust the charts to be the same as the dashboard.

**Deliverable:** CapDev charts.
**Move to Review when:** Ready to be reviewed by Ana and Hector.
**Move to Closed when:** When the changes are in production.

[2020-02-24 15:28] Edwin0307 opened #2047 "[BS] (MARLO) Design a mockup to improve the home page"
- [x] Meeting with Héctor to clarify important details respect the home page.
- [x] Design the MockUp.

Link to mockUp: https://docs.google.com/presentation/d/1rt61LYXUEv3zDa14oFtuRaIlCAAEmsCO49TIqhNdMoU/edit?usp=sharing

**Deliverable:** MockUp
**Move to Review when:** Ready to be reviewed by Ana and Hector.
**Move to Closed when:** Approved by Ana and Hector.

[2020-02-24 15:30] anamp07 commented on #2043
The [mockup](https://xd.adobe.com/view/a387ae22-a76d-4cc3-7888-3c6150308243-d5b6/) was approved by David and shared with the SMO.

[2020-02-24 15:30] #2043 closed

[2020-02-24 16:42] gcmartinezg commented on #2035
All methods done and a little testing was made. I think it might need more intensive would be great. Validator pending because I do not know how to make that.

[2020-02-24 18:43] gcmartinezg opened #2048 "[GM] (CLARISA) Implement Indicator: Progress Towards SRF (Table 1)"
### Progress Towards.

- [x] GET
- [x] POST
- [x] DELETE
- [x] PUT
- [ ] _Validator_

**Deliverable**: _Clarisa_ functionality
**Move to Review when**: Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when**: Funtionality will be implemented on _Doppler_

[2020-02-24 20:45] mralmanzar opened #2049 "[MA] (Result Dashboard) update QA 2018 QA publications"
Mail subject: QA peer reviewed papers

- [x] Update data in Dashboard

**Deliverable:** Data updated on production Result Dashboard
**Move to Review when:**
**Move to Closed when:**

[2020-02-24 20:49] mralmanzar commented on #2049
the data was updated on Dashboard with this totals:
Number of publications in the File: 1732
Updated publications in the dashboard: 399
Deleted publications: 3
there are 23 publications that we are no clear what we should do.
The document is in [there](https://cgiar.sharepoint.com/sites/CCAFS-KDS/_layouts/15/Doc.aspx?sourcedoc=%7B1B90A294-BD99-45FA-9020-4C380E77EDBC%7D&file=ALL_peer-review-papers_

[2020-02-25 21:06] Luisfben commented on #2045
First version of the functionality.

Pending to define all fields with the user.

Suggestion:
carry out proof of concept in Drupal by the end user.

[2020-02-28 14:56] Luisfben opened #2050 "[MARLO] Create action table 'bi_reports'"
- [x] Analysis
- [x] Implement

[2020-02-28 15:36] Edwin0307 commented on #1868
We decided to close this issue because is too big and we are going to work more specif points the next time.

[2020-02-28 15:36] #1868 closed

[2020-02-28 16:00] Edwin0307 commented on #2014
@kenjitm
Kenji, can you please talk with Lizzy and understand the priority of this to decide if we can do it later? Or if we can keep the same way as we have now? Perhaps there are not so many requests per year.

[2020-02-28 16:20] Edwin0307 opened #2051 "[BI] Export 2018 CRP indicators to Lizzy"
Currently the 2018 indicators are not mapped to the centers and we want to know which are the indicators that belong to CIAT and Bioversity. For this reason it is necessary to pass this information to Lizzy in an easy way so that she can tell us what they are.

[2020-02-28 16:40] #2017 closed

[2020-02-28 16:42] Edwin0307 commented on #2017
This has already been done when we added the mapping field to centers in the indicators.

[2020-02-28 21:04] gcmartinezg commented on #2048
- POST and DELETE  done.
- Mappers done.
I expect to have Table 1 finished by next Wednesday.

[2020-03-02 14:12] MargaritaRamirez opened #2052 "[MR] (Minute Reviewing process) Big Stock Take of MARLO - f2f meeting Amsterdam"
Issue description.

- [x] Read the document
- [x] Identify the action points
- [ ] Review with Hector

**Move to Review when:** We identify the action points
**Move to Closed when:** When the team agree after Hector's review

[2020-03-02 14:26] Edwin0307 opened #2053 "[MR] ( Data & Tools) Mock-up of the Data & Tools section in the new CCAFS website"
- [ ] Create the Mock-Up
- [ ] Review by Hector

**Deliverable:** Mock-Up
**Move to Review when:** After the Mock-Up Creation
**Move to Closed when:** After Hector's Review

[2020-03-02 15:04] mralmanzar commented on #2039
Done
![image](https://user-images.githubusercontent.com/9383649/75688237-262e9880-5c6d-11ea-9aad-2677bf4aa577.png)

[2020-03-02 15:04] #2039 closed

[2020-03-02 15:31] htobon commented on #2024
This issue is moved to Sprint 4.4.2 as it is not critical and can wait.

[2020-03-02 15:41] #2049 closed

[2020-03-02 15:58] htobon commented on #2038
Some ideas were written in Ana's notebook, but since this is not a high priority for the SMO and they will take this out in a different way, we decided to close it.

![image.png](https://images.zenhubusercontent.com/57741a6dbf93871ccd9d5f48/2f8118ce-3be2-47fc-b942-b6beab2626f8)

[2020-03-02 15:58] #2038 closed

[2020-03-02 16:23] #2020 closed

[2020-03-02 16:27] #2033 closed

[2020-03-02 16:52] #1962 closed

[2020-03-02 16:52] #1960 closed

[2020-03-02 16:53] htobon commented on #2018
Validators will be tackled in a separated issue.

[2020-03-02 16:53] #2018 closed

[2020-03-02 16:53] #1965 closed

[2020-03-02 16:54] htobon commented on #2035
@gcmartinezg We will close this issue and will follow-up in another one in the next sprint.

[2020-03-02 16:56] #1165 closed

[2020-03-02 16:56] htobon commented on #1165
We decided not to work on this anymore.

[2020-03-02 16:57] htobon commented on #1883
We decided not to work on this.

[2020-03-02 16:58] htobon commented on #1942
Not a priority right now.

[2020-03-02 16:58] #1942 closed

[2020-03-02 19:14] gcmartinezg commented on #2048
- All HTTP Methods are finished. A little testing was done but I think they need more.
- Validator pending.

[2020-03-03 13:02] gcmartinezg opened #2054 "[GM] (CLARISA) Implement Indicator: Internal Cross-CGIAR Collaborations (Table 9)"
### Internal Cross-CGIAR Collaborations.

- [x] GET
- [x] POST
- [x] DELETE
- [x] PUT
- [ ] _Validator_

**Deliverable**: _Clarisa_ functionality
**Move to Review when**: Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when**: Funtionality will be implemented on _Doppler_

[2020-03-04 15:55] Luisfben opened #2056 "[LB] (CLARISA) Participants in CapDev Activities (Table 7)"
Participants in CapDev Activities

- [x] GET
- [x] POST
- [x] DELETE
- [x] PUT

**Deliverable:** Clarisa functionality
**Move to Review when:** Funtionality will be implemented on Clarisa Dev
**Move to Closed when:** Funtionality will be implemented on Doppler

[2020-03-04 15:59] Luisfben commented on #2056
All HTTP Methods are finished.

[2020-03-04 16:29] gcmartinezg commented on #2035
@htobon reopened for testing purposes

[2020-03-05 13:41] anamp07 opened #2058 "[GM] (MARLO) Connect MARLO with different services to update deliverable information"
Connect MARLO with the following services to obtain information about deliverables:

- [x]  Web of Science (WoS)
- [x] Altmetrics
- [x] GARDIAN

**Deliverable:** Deliverables improvements
**Move to Review when:** The services are ready to be tested
**Move to Closed when:** The services are working on MARLO Prod

[2020-03-05 20:20] yeyo2k3 opened #2059 "[DP] (CALRISA) Add link to Milestones on innovation indicator"
The innovation indicator needs to add a link to milestones and select who of them as principal and the selected Subido linked set as a principal.

- [x] Link Milestones and selection as a principal
- [x] SubIDO selection as a principal

Deliverable: Functionality implemented on CLARISA services
Move to Review when: this functionality is implemented on Dev
Move to Closed when: this functionality is

[2020-03-06 13:05] Luisfben opened #2060 "[LB] (MARLO) Allow MEL to add Innovations and Policies without having to select a specific project (Same as OICRs)"
This is a back-end functionality for all of those indicators that do must be added as part of a project (Always).

Since we will receive information from MEL, the idea is that they can also be added to the CRP and not to a specific project. Therefore, we would like to adjust the indicators for Policies and Innovations to make this happen.

**Deliverable:** MARLO functionality
**Move to Review when

[2020-03-06 13:10] Luisfben commented on #2060
@yeyo2k3 complete implementation please tested. Be went up on dev-clarisa-v2

[2020-03-06 13:16] gcmartinezg commented on #2054
All HTTP Methods [finished](https://github.com/CCAFS/MARLO/commit/b2cb2aa6f78e1591940bd98def9bb1505beab426) with a little test done.

[2020-03-06 13:34] Luisfben opened #2061 "[LB] (MARLO) graphics CapDev (Frontend)"
Graphics CapDev (Frontend).

- [x] put total training Period PhD
- [ ] put data of generic male and training period for table "Deliverables Participants Trainees"

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implemented on AR-2019-Adjustments
**Move to Closed when:** Funtionality was tested by Ana Maria

[2020-03-06 15:02] Luisfben commented on #2061
@kenjitm please check

- Total training Period PhD
totalParticipantFormalTrainingPhdFemale
totalParticipantFormalTrainingPhdMale

- Data of generic male and training period for table "Deliverables Participants Trainees"
item.males
item.repIndTrainingTerm.name

[2020-03-06 20:08] #2061 closed

[2020-03-06 21:29] gcmartinezg commented on #2054
Testing done, [changes](https://github.com/CCAFS/MARLO/commit/127d35e8bae549f2e23dc9d5b0d1e3e5c0bf78d9) were made.

[2020-03-09 19:45] gcmartinezg commented on #2035
Testing done, [changes](https://github.com/CCAFS/MARLO/commit/9122b36a2aadacce39cd4f7ae1a44319672890ec) were made.

[2020-03-09 20:42] Luisfben opened #2062 "[LB] (MARLO) add total policy investiment types (Frontend)"
Add total policy investiment types

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implemented on AR-2019-Adjustments
**Move to Closed when:** Funtionality was tested by Ana Maria

[2020-03-11 13:24] Luisfben commented on #2062
@anamp07 please check

[2020-03-11 14:33] gcmartinezg opened #2063 "[GM] (Clarisa) Project Policies (Table 2) change."
Project Policies.

- [x] Update structure of Sub-Idos for Project Policies
- [x] Create method on Manager to find Policy Milestone by foreign keys
- [x] Add milestones to Project Policies DTO
- [x] Add description to Project Policies DTO

**Deliverable:** _Clarisa_ functionality
**Move to Review when:** Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when:** Funtionality will be

[2020-03-11 14:33] #2062 closed

[2020-03-11 14:42] Luisfben commented on #2056
@gcmartinezg according to conversation perform tests on this service.

- [ ] test

[2020-03-11 15:02] mralmanzar opened #2064 "[MA] (Interoperability) Analize the list of funding sources Institutions"
German extracted an Excel mapping between institutions related to MARLO financing sources and OCS contracts.
The goal is analyze this information and present to the Interoperability team.
- [x] Analyze the information
- [x] Create some indicators about the information
- [ ] Present to the team

**Deliverable:** Presentation with the analysis
**Move to Review when:**
**Move to Closed when:**

[2020-03-11 19:44] gcmartinezg commented on #2063
@yeyo2k3 [finished](https://github.com/CCAFS/MARLO/commit/c9b5043a2be36c07107d18c748d5efc4758ffec5)

[2020-03-11 19:55] gcmartinezg opened #2065 "[GM] (Clarisa) Modify Milestone & Outcome (Table 5)"
Milestone & Outcome.

- [x] Update structure of Sub-Idos for both Milestone and Outcome
- [x] Find Milestone & Outcome by SMO code rather than DB id.
- [x] Add a year parameter to find Milestone or Outcome.

**Deliverable:** _Clarisa_ functionality
**Move to Review when:** Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when:** Funtionality will be implemented on _Doppler_

[2020-03-11 19:57] gcmartinezg commented on #2065
@yeyo2k3 [finished](https://github.com/CCAFS/MARLO/commit/04255bf12e72695b9bd876e105cdd1a6a7da438c)

[2020-03-11 21:22] htobon opened #2066 "[DP] (Altmetrics) Create JAR to update Altmetrics information in the CGIAR Results Dashboard"
In this moment, the Altermics information in CGIAR Results Dashboard is not updated automatically, and we would like to develop an automated script which can help us in this process.
- [ ] Activity 1
- [ ] Activity 2

Here is how the information is being displayed in the dashboard:
![image.png](https://images.zenhubusercontent.com/57741a6dbf93871ccd9d5f48/2beb29a4-e35b-4978-ae33-c96bde90a1c1)

[2020-03-11 21:29] yeyo2k3 opened #2067 "[DP] (CLARISA) Implement indicator Status of Planned Outcomes and Milestones"
Implement CLARISA functionalities to obtain data of CLARISA indicator Status of Planned Outcomes and Milestones
 - [x] Get
 - [x] Post
 - [x] Delete
 - [x] Put
 - [ ] Validator

Deliverable: Clarisa Swagger Doc and Rest Service.
Move to Review when: Clarisa funtionality will be implemented on CLARISA dev enviroment.
Move to Closed when: Clarisa funtionality will be implemented on CLARISA Prod envi

[2020-03-11 21:31] gcmartinezg commented on #2048
Testing done, [changes](https://github.com/CCAFS/MARLO/commit/f14cc90235913c8afcd1705ad76563d639165818) were made.

[2020-03-12 14:09] gcmartinezg opened #2068 "[GM] (Clarisa) Peer-Reviewed Publications (Table 6)"
Peer-Reviewed Publications.

- [x] GET (Review)
- [ ] POST (Review)
- [x] PUT
- [x] DELETE
- [ ] Validator

**Deliverable:** _Clarisa_ funtionality
**Move to Review when:** Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when:** Funtionality will be implemented on _Doppler_

[2020-03-12 16:52] Luisfben commented on #2045
@yeyo2k3 passed it to production this week.

[2020-03-12 16:52] #2045 closed

[2020-03-13 15:15] #2052 closed

[2020-03-13 20:12] gcmartinezg commented on #2068
I got stuck testing (OICR) Table 3, so I have not started yet. I plan to start next Monday.

[2020-03-13 20:47] gcmartinezg opened #2069 "[???] (???) Change in institution"
Deletion and re-mapping of institution with ID 1150 to 2524

- [x] Delete institution with ID 1150
- [x] Notify the people who used it the change that will be done.
- [x] Wherever the institution 1150 was used has to be changed to the institution with ID 2524

[2020-03-17 13:49] anamp07 opened #2070 "[AP] (MARLO) Develop a guidance for reporting Deliverables"
Add a text explaining how to report license in Deliverables dissemination (specially for deliverables dissaminated in repositories that are not synced with MARLO).

- [x] Meet with Hector and Margarita to discuss and understand.
- [ ] Include the text in MARLO.

**Deliverable:** The text is added to MARLO Deliverables.
**Move to Closed when:** The text is added to MARLO Deliverables.

[2020-03-17 16:47] gcmartinezg commented on #2069
@htobon here is the issue you asked me to create the other day. Assignee and project pending.

[2020-03-20 12:28] MargaritaRamirez opened #2071 "[MR] (Deliverable validation process) Template for automatically bring the information of the deliverables from the database"
According to Manuel and Diego idea to bring the information of the deliverables directly from MARLO database with a macro in excel

- [x] Manuel to generate the excel version
- [x] Try to change the information in MARLO and make sure that the macro is working
- [x] Start the validation process

**Move to Review when:** Manuel generates the macro
**Move to Closed when:** the functionality validatio

[2020-03-20 12:28] MargaritaRamirez commented on #2071
You can find the document is in our intranet

[2020-03-20 12:30] #2071 closed

[2020-03-20 12:50] #2041 closed

[2020-03-25 13:33] gcmartinezg commented on #2035
Currently being tested on dev by Patricia. Waiting for feedback.

[2020-03-25 14:44] #2046 closed

[2020-03-25 19:56] #2026 closed

[2020-03-25 20:01] #2059 closed

[2020-03-25 20:01] #2037 closed

[2020-03-25 20:07] #2044 closed

[2020-03-25 20:30] MargaritaRamirez commented on #2042
@htobon could you please liaise with @felipelvira for the test of this issue

[2020-03-25 20:58] gcmartinezg commented on #2068
@Luisfben could you test this please?

[2020-03-26 13:24] #2056 closed

[2020-03-26 16:06] Luisfben commented on #2050
Implementation upload at branch: "dev-bi-module". @mralmanzar pending check.

[2020-03-26 21:19] Luisfben commented on #2068
Sure, pass test result by Slack.

[2020-03-31 19:57] yeyo2k3 opened #2072 "[DP] (MARLO) Improve performance to mitigate lock and wait exception on MARLO"
change variables on database to improve performance and mitigate
 hibernate error

Exception message:

org.hibernate.exception.LockAcquisitionException: could not execute statement at org.hibernate.dialect.MySQLDialect$1.convert(MySQLDialect.java:451) at org.hibernate.exception.internal.StandardSQLExceptionConverter.convert(StandardSQLExceptionConverter.java:49) at org.hibernate.engine.jdbc.spi.Sq

[2020-04-01 16:10] MargaritaRamirez opened #2073 "[MR] (Deliverable validation process) Deliverable Validation"
With the template that Manuel created star the reviewing process

- [x] Sync with the DB with Navicat
- [x] The activity started on March 3 with 1045 deliverables reported in MARLO
- [x] Go through one-by-one of the deliverables and check the metadata
- [x] Score the deliverables
- [x] Identify the duplicated deliverables and related them with one project
- [x] Send the final report (1317 delivera

[2020-04-01 16:14] gcmartinezg commented on #2066
Main [completed](https://github.com/CCAFS/CGIAR-Dashboard-Altmetrics-Sync/commit/e58083f2a94a84f289d6514b1eb858151b7ddc08). I am currently testing the update process on my local database.

[2020-04-01 16:23] MargaritaRamirez commented on #2073
I finished my reviewing process since march 22 with 1317 deliverables reported in MARLO.
163 duplicated
218 Extended
45 Canceled

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/85ce5b65-62f7-4e49-bed4-b95ec5a0267d)

[2020-04-01 16:26] MargaritaRamirez commented on #2073
I sent the following reports to Julian and Hector for their approval
- Project evaluation
- Center evaluation

You can find the documents in our intranet
D:\CGIAR\CCAFS-KDS - Documents\1_Projects\1_2_CCAFS_Data_Management\1_2_2 Reports\AR2019

[2020-04-01 16:40] MargaritaRamirez opened #2074 "[MR] (Deliverable Validation Process) Project evaluation report"
Organized all the deliverables according to the template from Julian Rivera for project evaluation

- [x] Deliverable scoring
- [x] Create a statement explaining the reason for the scoring

**Deliverable:**
**Move to Review when:** I finish the report and send it to Julian Rivera
**Move to Closed when:** When he approved

[2020-04-01 16:43] MargaritaRamirez commented on #2074
I sent the final version of the report on March 31/2020

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/d5886bb5-d2e6-46ed-97e8-95a3d86a4c25)

[2020-04-01 16:46] #2073 closed

[2020-04-01 16:52] MargaritaRamirez opened #2075 "[MR] (Deliverable validation Process) Center Evaluation report"
One document with all the journal articles reported with the participation of the centers and scoring the acknowledgment

- [x] Update the template with the information of the AR
- [x] Validate the formulas

**Move to Review when:** I send the information to Bruce
**Move to Closed when:** He gets back with the approval

[2020-04-01 16:53] MargaritaRamirez commented on #2075
I sent the final version of the document to Julian and Hector for them to help me with the narrative for the email to Bruce

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/eaad15d4-f0ca-4ff8-b4b8-0495290390af)

You can find the document in our intranet
D:\CGIAR\CCAFS-KDS - Documents\1_Projects\1_2_CCAFS_Data_Management\1_2_2 Reports\AR2019

[2020-04-01 18:55] MargaritaRamirez opened #2076 "[MR] (Project Page) Project Page release"
Test the JSON that was developed and send it to the Macaroni Bros with the username and password for them to try it.

- [x] Assigned user name and password in CLARISA
- [x] Send the draft message with the explanation of how it works

**Deliverable:**
**Move to Review when:** We make the draft of the message for the Macaroni Bros
**Move to Closed when:** When we get the feedbacks for the Macaroni B

[2020-04-01 19:03] MargaritaRamirez commented on #2076
Diego sent the draft message since March 26/2020

From: Perez, Diego Fernando (CCAFS - Alliance Bioversity-CIAT)
Sent: Thursday, March 26, 2020 4:39 PM
To: Tobon R, Hector F (CCAFS-Alliance Bioversity-CIAT) <H.F.Tobon@CGIAR.ORG>
Subject: FW: Project Page Release

Hi Hector

Continuing with our project page integration development, we released our v1 version of this API.
This API shares CCAFS proje

[2020-04-01 19:05] MargaritaRamirez commented on #2076
@htobon we are waiting for your comments in order to send the final message to the Macaroni Bros

[2020-04-01 19:10] Luisfben opened #2077 "[LB] (CLARISA) Token authentication"
Token authentication implementation.

**Deliverable:** CLARISA functionality
**Move to Review when:** Funtionality will be implemented on dev-clarisa-v2
**Move to Closed when:** Funtionality was tested by Felipe

[2020-04-01 19:15] MargaritaRamirez opened #2078 "[MR] (Deliverable validation Process) Publication List report"
Send to Julian Rivera the Publication list report by April 15/2020

- [x] Divide by collections all the CCAFS publication reported and extract the citation and the handle
- [x] Standardized the citation according to CCAFS publications (ICRAF style)
- [x] Use a CCAFS template for display the information

**Deliverable:**
**Move to Review when:** Send the report
**Move to Closed when:** They approve

[2020-04-01 20:34] yeyo2k3 commented on #2035
Patricia has been testing it and her feedback is that the service is working.

[2020-04-01 20:34] #2035 closed

[2020-04-06 12:57] Luisfben commented on #2077
I give api to @felipelvira for functional tests.

[2020-04-07 16:28] yeyo2k3 commented on #2060
the database migration has not been created on staging. when this one will be implemented this issue can be closed.

[2020-04-07 16:50] yeyo2k3 commented on #2031
we are currently made changes on MELIA and Status of Outcomes that impact in JSON structure

[2020-04-07 16:51] yeyo2k3 commented on #2066
Actually @gcmartinezg are testing this.

[2020-04-07 19:22] gcmartinezg commented on #2066
Information updated. I am waiting for feedback to come.

[2020-04-07 20:27] gcmartinezg commented on #2063
Added new field: Description

[2020-04-07 21:11] gcmartinezg commented on #2063
New field [added](https://github.com/CCAFS/MARLO/commit/6a995a7f7c7b566c38521a45fa228f1684f3fa83).  Waiting for testing.

[2020-04-07 23:27] gcmartinezg opened #2079 "[GM] (Clarisa) Outcome Impact Case Report (Table 3) change."
Add new fields in OICR.

- [x] Add short outcome/impact statement, outcome story for communications
use, elaboration of outcome/impact statement and references cited fields to Project Expected Study DTO
- [x] Modify HTTP Methods PUT and POST to save fields.

**Deliverable:** _Clarisa_ functionality
**Move to Review when:** Funtionality will be implemented on _Clarisa Dev_
**Move to Closed when:**

[2020-04-07 23:30] gcmartinezg commented on #2079
New fields [added](https://github.com/CCAFS/MARLO/commit/ad9017b2e13a14fbfa86847dd25621a1bce50ed2). Waiting for testing.

[2020-04-13 13:34] Luisfben commented on #2060
Hi @kenjitm y @yeyo2k3, can any of you please give me a space to explain how to do this. Thank you.

[2020-04-13 14:24] Luisfben commented on #2050
@BrahianSalazar will perform the functionality tests

[2020-04-13 15:34] yeyo2k3 commented on #2060
I implemented this DataBase migration.
When this will be required, we have to search for these parameters.

[2020-04-13 16:22] Luisfben commented on #2050
@BrahianSalazar commented that it works correctly!

[2020-04-13 16:22] #2050 closed

[2020-04-13 16:30] Luisfben commented on #1869
Last week a solution to the MarloBaseEntity error was applied (locally), it is in testing. The solution was based on the information presented in this link: https://hibernate.atlassian.net/browse/HHH-10172

[2020-04-13 18:57] Luisfben commented on #2077
It is in the process of testing between now and Thursday, April 16, it will probably end. If at this date the process has not finished, move to the next sprint.

[2020-04-14 16:34] Luisfben opened #2080 "[LB] (MARLO) Updating the BI-REPORTS action with the new table and the new fields of the existing one"
Updating the BI-REPORTS action with the new table and the new fields of the existing one.

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implement on dev-bi-module
**Move to Closed when:** Funtionality was tested by Brahian

[2020-04-14 17:11] Luisfben commented on #2080
Hello @BrahianSalazar, please test functionality

[2020-04-14 21:22] MargaritaRamirez commented on #2078
I sent the information on April 14 toHector and Julian and they told me that share the report with Marissa.

[2020-04-14 21:22] #2074 closed

[2020-04-14 21:24] MargaritaRamirez commented on #2076
Email sent on April 13 to the Macaroni Bros.
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/7736206e-3b56-4ef7-9d82-3137b7a86057)

[2020-04-15 16:51] Luisfben commented on #2080
@BrahianSalazar commented that it works correctly!

[2020-04-15 16:51] #2080 closed

[2020-04-16 14:48] Luisfben commented on #2060
Implementation was passed to production

[2020-04-16 14:48] #2060 closed

[2020-04-16 15:22] Luisfben commented on #2077
@felipelvira commented that it works correctly!

[2020-04-16 15:22] #2077 closed

[2020-04-16 21:42] gcmartinezg opened #2081 "[GM] (Altmetric) Altmetric API responds "Not Found" for some existing Altmetric ID Codes"
_Following [Issue#2066](https://github.com/CCAFS/MARLO/issues/2066)_.
When using the Altmetric API we found out that for some reason sometimes it returns a "Not Found" with a valid Altmetric ID.

E.G: https://www.altmetric.com/details/33311677.
_Its ID is 33311677 and its DOI is 10.1016/j.ejar.2017.07.001._

Using the API, for both [ID](https://api.altmetric.com/v1/id/33311677) and [DOI](https://a

[2020-04-16 21:57] #2066 closed

[2020-04-16 21:57] gcmartinezg commented on #2066
Closed as discussed with @mralmanzar .

[2020-04-17 04:46] kenjitm opened #2082 "Update Policies and Innovations Summaries"
- [x] Improve formats
- [x] Fix missing information
- [x] Delete unused fields

[2020-04-17 04:50] #2036 closed

[2020-04-17 04:50] #2082 closed

[2020-04-20 21:39] Luisfben opened #2083 "[LB] (MARLO) Api to access BI information"
Api to access BI information.

- [ ] Analysis
- [ ] Implementation
- [ ] Test

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implement on dev-bi-module
**Move to Closed when:** Funtionality was tested by Brahian

[2020-04-21 12:38] MargaritaRamirez commented on #2075
Bruce sent an email informed that the document is was Ok and he asks Wiebe to complete some information on the file.

[2020-04-21 12:38] #2075 closed

[2020-04-21 13:09] #2048 closed

[2020-04-21 13:10] gcmartinezg commented on #2048
Closed, as discussed with @yeyo2k3

[2020-04-21 13:10] #2065 closed

[2020-04-21 13:10] gcmartinezg commented on #2065
Closed, as discussed with @yeyo2k3

[2020-04-21 13:10] #2079 closed

[2020-04-21 13:10] gcmartinezg commented on #2079
Closed, as discussed with @yeyo2k3

[2020-04-21 13:11] #2054 closed

[2020-04-21 13:11] gcmartinezg commented on #2063
Closed, as discussed with @yeyo2k3

[2020-04-21 13:11] #2068 closed

[2020-04-21 13:11] gcmartinezg commented on #2063
Closed, as discussed with @yeyo2k3

[2020-04-21 13:11] #2063 closed

[2020-04-21 14:40] Luisfben opened #2084 "[LB] (MARLO) Show authors of the deliverables publications entered by clarisa"
Show authors of the deliverables publications entered by clarisa

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implement on AR-2019-Adjustments
**Move to Closed when:** Funtionality was tested by Ana Maria

[2020-04-22 15:27] kenjitm opened #2085 "[KT] (MARLO) Develop functionality to move deliverables"
Develop a way to move a deliverable to the next phase
- [x] Create mockup
- [x] Develop the functionality for move deliverables to other phases
- [x] Develop the functionality for move deliverables to other projects
- [x] Create the user interface
- [x] Implement changes to the architecture for the development operation
- [x] Create save confirmation
- [x] Allow only super admins to move deliverab

[2020-04-22 22:37] Luisfben commented on #2083
Hello @BrahianSalazar, please test functionality

[2020-04-23 21:23] MargaritaRamirez commented on #2076
Meeting April 16, 2020:
Action points:
- Create an additional service that brings the list of all the projects IDs
- Create a guest user in MARLO (done)

[2020-04-23 21:24] MargaritaRamirez commented on #2078
Marissa confirmed that they are making some changes to the document so we can upload to CGSpace.

[2020-04-27 19:21] Luisfben commented on #2084
Hello @BrahianSalazar, please test functionality

[2020-04-28 19:02] Luisfben commented on #2083
@BrahianSalazar commented that it works correctly!

[2020-04-28 19:02] #2083 closed

[2020-04-29 16:28] Luisfben opened #2087 "[LB] (MARLO) section Impact of COVID-19"
Issue description.

- [x] Backend
- [x] Frontend
- [x] Test of integration

**Mock-up**
https://docs.google.com/presentation/d/1pM7gOZK4CbBQdu65JswObSAEPC6Gpr5evUTOj-LF3Kw/edit#slide=id.g74d2180936_11_5

**Requirements**
- Only for CCAFS at the moment
- Only one question maximum 100 characters
- Shows information per year. However, the history of previous years should appear at the bottom
- Implem

[2020-04-30 14:21] MargaritaRamirez commented on #2078
April 27: We uploaded the document in CGSpace

You can access to the information in the following handle https://hdl.handle.net/10568/108050
I will close the issue

[2020-04-30 14:21] #2078 closed

[2020-04-30 14:39] MargaritaRamirez opened #2088 "[MR] (Annual Report 2019) Quality Assurance process"
I need to create a message for the ML of each project asking for their permission to change the information in MARLO that we found after the deliverable validation process.

- [x] Identify all the changes in the deliverable document so we can export the information for each project
- [x] Create the email template
- [x] Send the email to the ML with the deadline

**Deliverable:**
**Move to Review w

[2020-04-30 14:49] MargaritaRamirez commented on #2088
Draft
Dear _____

As part of the annual standard quality checking and revision process to assure accurate data in MARLO, we have checked the list of deliverables that belongs to the projects led by _______ and identified a few areas where we propose some adjustments (please refer to the table attached). You can filter by the deliverable ID in order to revise the suggested changes.

Please check th

[2020-04-30 14:54] MargaritaRamirez opened #2089 "[MR] (SMO report) Update the information in MARLO for the Evidence D table"
Uncheck the journals articles that we do not take into consideration for AR2019

- [x] Compare the lists of journal articles from project and center evaluation with the information in MARLO
- [x] Uncheck those articles that we do not consider as part of AR2019

**Deliverable:**
**Move to Review when:** When we compare the lists  with MARLO
**Move to Closed when:** We update the information in MARL

[2020-04-30 14:55] MargaritaRamirez commented on #2089
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/9514b3ce-98cc-4397-964a-ab0d3a92e39b)

[2020-04-30 14:55] #2089 closed

[2020-04-30 16:48] #1959 closed

[2020-04-30 17:03] kenjitm opened #2090 "[KT] (MARLO) Change the OICR relationship in the Project Innovations section"
Change the OICR relationship in the project innovations section, from _one to one_ to _one to many_.

**Move to Closed when:** Development is in production

[2020-04-30 17:03] #2090 closed

[2020-04-30 22:39] Luisfben commented on #2084
@anamp07 commented that it works correctly!

[2020-04-30 22:39] #2084 closed

[2020-05-04 17:32] Luisfben opened #2091 "[LB] (MARLO) embeber QA en MARLO"
Embeber QA en MARLO

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implement on AR-2019-Adjusments
**Move to Closed when:** Funtionality was tested by Brahian

[2020-05-04 20:00] MargaritaRamirez commented on #2088
@htobon the message is Ok?

[2020-05-05 14:15] Luisfben commented on #2087
Hi @BrahianSalazar, please check backend

[2020-05-05 14:44] Luisfben commented on #2087
**Important:** before going to staging notify Kenji

[2020-05-05 19:58] htobon commented on #2088
Yes @MargaritaRamirez.
Thanks so much for this.

I have slightly adjusted it in our shared google docs. Please feel free to start the process with the CCAFS MLs.

[2020-05-05 21:49] #2088 closed

[2020-05-06 12:34] MargaritaRamirez commented on #2076
I sent to @yeyo2k3 the list of projects that we can send to the Macaroni Bros for the test of the new service
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/d73ea92b-1abb-4471-aaf0-91947d9acb35)

[2020-05-06 12:46] MargaritaRamirez commented on #1958
We will do this in the next sprint after we send the new service to the Macaroni Bros

[2020-05-06 18:10] #2042 closed

[2020-05-06 18:12] #2040 closed

[2020-05-07 16:26] kenjitm opened #2092 "[AP-KT] (MARLO) Validate primary Sub-IDOs in Melia"
Issue description.
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/407f5e1d-43e7-4b20-b469-2489f1b5618d)

- [ ] Develop in backend
- [ ] Develop in front end

[2020-05-07 17:48] anamp07 opened #2093 "[AP-KT] (MARLO) Fix fields validation in project deliverables"
Fix fields validation in deliverables (some fields are not highlighted when it says there are missing fields).

- [ ] Check back and front-end
- [ ] Fix the fields.

**Deliverable:** Deliverables interface working correctly in MARLO.
**Move to Closed when:** The bug is solved.

[2020-05-07 17:58] anamp07 opened #2094 "[AP-KT] (MARLO) Adjust organizations fields in Project Innovations"
Adjust if contributing organizations and lead organization are required when "No clear lead" is checked.

- [x] Adjust Lead organization required condition.
- [x] Adjust Contributing organizations required condition.

**Deliverable:** Adjustments for Innovations.
**Move to Closed when:** Adjustments working in MARLO.

[2020-05-07 20:11] MargaritaRamirez commented on #2070
@anamp07
Could be this:
If you are not sure if the deliverable has a license, please search in the publication or the page the C symbol or the phrase "copyrights"

[2020-05-08 18:47] Luisfben commented on #2091
Pending review error when embedding the screen in QA. It was reviewed together to rule out possible problems. @felipelvira was left to review a server parameterization that was possibly causing the problem.

To take into account, the problem only occurs when the screen is embedded if you try to enter the screen directly with the token and smocode from a new browser tab that works.

![image.png](ht

[2020-05-08 18:58] yeyo2k3 opened #2095 "[DP] (CLARISA) Testing CGIAR Indicators devolped in CLARISA with MEL"
Test every indicator developed in CLARISA and follow up MEL consumes CLARISA API

- [x] OICR
- [x] Policies
- [x] Innovations
- [x] Publications
- [x] Key External Partnership
- [x] MELIA
- [ ] Status of Milestones
- [x] Progress Towards SRF

**Deliverable: All QA indicators tested in the production environment
**Move to Review when: all indicators are in prod
**Move to Closed when: all indicators

[2020-05-08 19:03] Luisfben commented on #2087
Fixed history related issue. It only remains to implement condition to filter the years where the session should be shown. Adjustment will be implemented based on the specific parameters. The rest of the functionality is functional.

[2020-05-11 14:38] MargaritaRamirez opened #2096 "[HT-MR] (MARLO) Create a Satisfaction survey for MARLO users"
Create a satisfaction survey (continue the process that Sebastian, Mateo, and Hector started in 2019 #1860)

- [x] Start the email draft for MARLO family with the information that Shaylyn share with us on October 2019
- [x] Review the question that we already have in the following link https://www.surveymonkey.com/r/97G23KR

**Move to Review when:** We have all the process done
**Move to Closed wh

[2020-05-11 16:10] MargaritaRamirez commented on #853
We move this file to D:\CGIAR\CCAFS-KDS - Documents\1_Projects\1_3_MARLO for the OnBoarding technical documentation.
We will close the issue

[2020-05-11 16:10] #853 closed

[2020-05-11 16:19] htobon commented on #958
Hi @mralmanzar. No, the issue #1019 is different from this one.
Schedules are happening internally with each CRP mostly via email, therefore, we decided to close this issue and not develop this functionality.

[2020-05-11 16:19] #958 closed

[2020-05-12 15:05] gcmartinezg opened #2097 "[KT-GM] (MARLO) Fix milestone replication from UpKeep to upcoming phases."
Right now if you make a change to an existing milestone while you are in UpKeep, it does not replicate to the upcoming phases. For example, we extended the 2018 milestone shown in the following image to 2019, but when we checked in AR, the milestone was still like it was before.

![image](https://user-images.githubusercontent.com/54682133/81706480-ad4e7880-9435-11ea-9473-252eeb35a3a3.png)

![image

[2020-05-12 16:16] MargaritaRamirez commented on #1412
We don't understand this issue

[2020-05-12 16:16] #1412 closed

[2020-05-12 16:23] #1458 closed

[2020-05-12 16:32] MargaritaRamirez commented on #1441
@kenjitm @yeyo2k3 @Luisfben @gcmartinezg

Please take the time to review this issue, there are some sections that history of changes is disabled.
If you have time to look at it in this sprint is better

[2020-05-12 16:37] MargaritaRamirez commented on #1151
@mralmanzar made a report where shows the information for each indicator.
Please coordinate with him how we can complete this issue

[2020-05-12 16:43] htobon commented on #1151
In addition to @MargaritaRamirez this report should be available also in CLARISA as it will be used by the CCAFS and WLE Websites.

[2020-05-12 16:48] MargaritaRamirez commented on #1218
We will close this issue because is very old, we are exploring the best ways to present this information using our business intelligence.

[2020-05-12 16:48] #1218 closed

[2020-05-12 16:55] MargaritaRamirez commented on #1286
@mralmanzar there is a way to include directly in MARLO the kind of reports that you sent to Grazia?

[2020-05-12 20:35] MargaritaRamirez opened #2098 "[MR] Depurate MARLO Backlog issues"
Coordinate meetings with Hector to review the issues that we have in the MARLO Backlog milestone and understand if we can close them or in some way we can accomplish these tasks

- [ ] Schedule meetings of 30 min with Hector to review a list of issues
- [ ] Reasigne or close issues

**Move to Closed when:**We finish the reviewing process
We might take 2 or more sprints to accomplish this task

[2020-05-12 20:38] MargaritaRamirez commented on #2098
May 11:

We reviewed
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/f1876ac1-c658-4d74-81d9-6066a025415f)

[2020-05-12 20:39] MargaritaRamirez commented on #2098
May 12:

We reviewed
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/77f42457-1a2c-4a38-a52f-724f8b890446)

[2020-05-14 16:59] MargaritaRamirez opened #2099 "[LB] (MARLO) COVID-19 - CCAFS specificity"
We need to be able to generate a report for this specificity in our summaries section

- [x] Define mock-up
- [x] Backend
- [x] Frontend
- [x] Test of integration
- [x] Deployment in production

** Mock-up **
https://docs.google.com/spreadsheets/d/1E6wIxoANvFmbgDsNpD2w3GuCKiBr56dak8LN69pd0yI/edit#gid=0

** Requirements **
- Excel report
- Available in the summaries section. Probably in the Project

[2020-05-14 18:50] Luisfben commented on #2091
@BrahianSalazar commented that it works correctly. It was passed to testing environment (dev).

[2020-05-14 18:50] #2091 closed

[2020-05-14 18:54] Luisfben commented on #2087
Pending go to production due to problems with bd.

[2020-05-14 19:06] MargaritaRamirez commented on #2099
@Luisfben could you please complete the task for this issue

[2020-05-18 19:34] yeyo2k3 commented on #2067
@gcmartinezg is testing and doing fixes to get ready for any implementation or update

[2020-05-18 19:36] yeyo2k3 commented on #2031
we will close this issue and open a new one for 3 lastest tables.

[2020-05-18 19:36] #2031 closed

[2020-05-18 20:25] yeyo2k3 commented on #2095
Actually, we have to test the milestone service, we have to schedule this issue with MEL for testing

[2020-05-19 13:35] Luisfben commented on #2087
Went to production!

[2020-05-19 13:35] #2087 closed

[2020-05-20 12:20] MargaritaRamirez opened #2100 "[AP] (Alliance Dashboard) Navigation menu in the top"
Change the navigation menu to the top

- [x] Create a navigation menu on the top.

**Move to Review when:** The menu is done and ready to be checked by Hector.
**Move to Closed when:** The menu is approved.

[2020-05-20 12:20] MargaritaRamirez commented on #2100
@anamp07 could you please update the task for this issue.

[2020-05-20 12:25] MargaritaRamirez opened #2101 "[AP] (Alliance Dashboard) Embed the dashboard in the CIAT web"
Decide if only one to the Alliance dashboard or have each part separately embedded – Lizzy will connect Alejandro with Hector and Ana Maria

- [x] Contact the person in charge of the website to discuss how the dashboard will be included.
- [x] Adjust the dashboard if there is something needed for the embed.

**Move to Closed when:** The dashboard is embedded in the website.

[2020-05-20 12:26] MargaritaRamirez commented on #2101
@anamp07 @htobon could you please update the tasks for this issue.

[2020-05-20 12:30] MargaritaRamirez opened #2102 "[MA] (Alliance Dashboard) Add filter for years"
Add filter for years

- [ ] Add a year filter in the top with the other filters.

**Move to Closed when:** the filter is included and working in the dashboard.

[2020-05-20 12:31] MargaritaRamirez commented on #2102
@anamp07 could you please update the tasks of this issue

[2020-05-20 12:34] MargaritaRamirez opened #2103 "[MA] (Alliance Dashboard) Include 2019 data"
Indicate where data is coming from which year, currently added into the top but might need adjusting once we have

- [ ]
- [ ]

**Move to Review when:**
**Move to Closed when:**

[2020-05-20 12:35] MargaritaRamirez commented on #2103
@mralmanzar could you please update the tasks for this issue

[2020-05-20 12:37] MargaritaRamirez opened #2104 "[MA] (Alliance Dashboard) Include 2017 and 2019 data"
Include 2017 and 2019 data

- [ ]
- [ ]

**Move to Review when:**
**Move to Closed when:**

[2020-05-20 12:37] MargaritaRamirez commented on #2104
@mralmanzar could you please update the tasks for this issue

[2020-05-20 12:40] MargaritaRamirez opened #2105 "[MA] (Alliance Dashboard) Check why there is an empty country"
Check why there is an empty country

- [ ]
- [ ]

**Move to Review when:**
**Move to Closed when:**

[2020-05-20 12:41] MargaritaRamirez commented on #2105
@mralmanzar could you please update the tasks for this issue

[2020-05-20 13:30] MargaritaRamirez opened #2106 "[AP] (Alliance Dashboard) Add Data Information for the QA process"
Tonya will send the narrative  for this process

- [ ] Include "Data and information is quality assured (for 2017 and 2018) b) Quality assurance is ongoing for 2019 data." in the dashboard.

**Move to Closed when:** The text is on the dashboard.

[2020-05-20 13:30] MargaritaRamirez commented on #2106
@anamp07 could you please update the tasks for this issue.

[2020-05-20 14:28] anamp07 opened #2107 "[AP] (MARLO) Check HTML component"
Check the HTML component to fix problems with copy and paste.

- [ ] Check the component.
- [ ] Investigate if there is another plugin we could use to avoid the problems of the current one.

**Deliverable:** List of plugins we could use to replace the current plugin.
**Move to Closed when:** We have a list of options or the problem with the current component is solved.

[2020-05-21 21:03] mralmanzar opened #2108 "SLO cases by country 2017 & 2018"
Add the location information to the SLO progress cube.

[2020-05-21 21:05] mralmanzar commented on #2108
[SLO cases by country 2017-18.docx](https://github.com/CCAFS/MARLO/files/4664761/SLO.cases.by.country.2017-18.docx)

[2020-05-26 19:39] yeyo2k3 opened #2109 "[DP] (CLARISA) Simplify Indicator List Services"
Simplify fields for indicators list services below y determinate if they were exclude on Synthesis to AR:

- [x] Policies
- [x] Innovations
- [x] OICR
- [x] Publications
- [x] Melia

Deliverable: CLARISA Indicator get List
Move to Review when: Feature will be deployed on DEV
Move to Closed when: Feature will be deployed on PROD

[2020-05-27 13:22] Luisfben commented on #2099
![image.png](https://images.zenhubusercontent.com/5e4af1b8a6da9430d8344bcf/f3968dc0-6fe3-4460-aa38-68545d394615)

[2020-05-27 15:58] Luisfben commented on #2099
![image.png](https://images.zenhubusercontent.com/5e4af1b8a6da9430d8344bcf/a1c60c3f-358d-4251-85a1-e4f18eaf6e98)

[2020-05-27 20:13] Luisfben commented on #2099
![image.png](https://images.zenhubusercontent.com/5e4af1b8a6da9430d8344bcf/ee380e76-200f-477b-b477-06d0d5995698)

[2020-05-27 20:35] kenjitm opened #2110 "[KT] (MARLO) Institution List Issue in MARLO Dev"
Error loading institutions list in MARLO Dev. This error has been going on for over a year and cannot be replicated locally.

MARLO Dev log screenshot
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/3e054108-4719-4f60-a6fd-2447b1cc4cd8)

- [ ] Replicate Issue
- [ ] Fix Issue

**Deliverable:**
**Move to Review when:** Develop testing in local
**Move to Closed when:** Deve

[2020-05-27 20:37] #2092 closed

[2020-05-27 20:50] anamp07 commented on #2101
Done. Embedded in https://ciat.cgiar.org/how-we-work/results-based-management/

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/42b6a96c-481e-4b4b-acc0-249af750ccbb)

[2020-05-27 20:50] #2101 closed

[2020-05-27 21:05] Luisfben opened #2111 "[LB] (MARLO) Modify api that allows access to BI to allow access to reports without RLS restrictions of Power BI"
Modify api that allows access to BI to allow access to reports without RLS restrictions of Power BI.

- [ X] Analysis
- [ ] Implementation
- [ ] Test

**Activitys
- Create field in BD for classify reports con y sin RTL
- Add field in model of data
- Implement condition

**Deliver date
Next week

**Deliverable:** MARLO functionality
**Move to Review when:** Funtionality will be implement on dev-bi-

[2020-05-28 15:07] yeyo2k3 commented on #2067
after testing next CLARISA update this feature will be on prod enviroment.

[2020-05-28 15:07] #2067 closed

[2020-05-29 13:56] Luisfben commented on #2099
was passed into production!

[2020-05-29 13:56] #2099 closed

[2020-05-29 14:58] MargaritaRamirez opened #2112 "[GM] (KDS) Improve the services Stas.jar to get information per year"
We need to improve the service or create a new one (taking into account the one that we already have) to get the downloads and views per handle (CGSpace) for a specific timeline (Jan-Dec XXXX)

- [x] Take a look at the service
- [x] Understand the code
- [x] Raise whether a solution is possible or we need to develop another service

**Move to Review when:**
**Move to Closed when:**

[2020-06-01 19:36] MargaritaRamirez commented on #2072
This issue will tackle in next sprint

[2020-06-01 19:38] MargaritaRamirez commented on #2109
@yeyo2k3 please add the image of the ones that you have done

[2020-06-01 19:39] MargaritaRamirez commented on #1961
We will close this issue according to @yeyo2k3 and @htobon  meeting last Friday 29/05/2020

[2020-06-01 19:39] #1961 closed

[2020-06-01 19:41] MargaritaRamirez commented on #2076
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/723413ab-0618-4efd-9086-573ee65ed69a)

[2020-06-01 19:41] MargaritaRamirez commented on #2076
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/16401bfe-ac33-4f65-a874-c2be0a615293)

[2020-06-01 20:03] MargaritaRamirez commented on #2014
According to the meeting
1. @kenjitm step by step document
2. @Luisfben how to improve the way to upload the documents

We will move this issue to the next sprint

[2020-06-01 20:04] MargaritaRamirez commented on #1869
We will move this issue for the next sprint

[2020-06-01 20:08] gcmartinezg commented on #2081
We had a meeting with Enrico, Phillipe, Manuel and Hector. The solution Enrico suggested could not be applied because we only work with DOIs for that report and Altmetrics currently do not support Handles. I am still waiting for an update on this topic.

[2020-06-01 20:32] MargaritaRamirez commented on #2096
We sent an email to all CRPs asking if they want us to send the survey to their users and they have responded positively
You can access the document in this [link](https://docs.google.com/spreadsheets/d/1Wo_zKYSOzFhY1CJ5bs8k913c843tdJzWzLBDjXAIPaQ/edit#gid=0)

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/a34210e8-0675-4bef-8cc6-0a40a6c61327)

Here is the survey [draft

[2020-06-02 19:50] MargaritaRamirez commented on #2027
We already plan our 2020 objectives.

[2020-06-02 19:50] #2027 closed

[2020-06-02 20:59] anamp07 opened #2113 "[KT] (MARLO) Fix deliverables save bug"
Fix the bug that appears in some deliverables when clicking on save. It seems to be a problem with the contact persons.

- [ ] Check the bug.
- [ ] Fix deliverables.

**Deliverable:** Deliverables working correctly.
**Move to Closed when:** The bug is fixed.

[2020-06-02 21:16] anamp07 commented on #2100
Done.

I added a navigation menu with arrows to move back and to the next section. I also had a meeting with Lizzy to finish this, she approved it.

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/bdabea33-41ea-424f-aa90-86a9969a80e9)

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/ea89c48a-efc1-4189-ba7a-cca6dbd10d99)

![image.png](https://im

[2020-06-02 21:16] #2100 closed

[2020-06-03 13:11] mralmanzar commented on #2104
2019 innovations, policies, and OICRs were included in the alliance dashboard.
![image](https://user-images.githubusercontent.com/9383649/83640467-c6989f80-a571-11ea-9335-43fecd3c6ea5.png)

[2020-06-03 16:58] Luisfben commented on #2111
Hi @BrahianSalazar, please test functionality

[2020-06-03 19:20] #2094 closed

[2020-06-03 19:21] MargaritaRamirez commented on #2032
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/7373ee16-ae90-44eb-8a47-f76656cbbb47)

[2020-06-03 19:21] kenjitm commented on #2032
https://docs.google.com/spreadsheets/d/1WQ6xQz_pUvqmxdQogsc_Vc0iilKEnYZn738ePtxnA9E/edit#gid=1985482201

[2020-06-03 20:31] MargaritaRamirez commented on #2025
The deliverable section is already in MARLO BI as a master table.
We will close this issue

[2020-06-03 20:31] #2025 closed

[2020-06-03 20:39] MargaritaRamirez commented on #2103
we will close this issue because is duplicated of #2104

[2020-06-03 20:39] #2103 closed

[2020-06-03 20:40] MargaritaRamirez commented on #2104
We need to send the information to Tonya and Lizzy to close the issue
@mralmanzar @anamp07

[2020-06-03 20:44] MargaritaRamirez commented on #2015
@yeyo2k3 @gcmartinezg
How we can handle this issue?
@htobon do we need to close this issue because we have to review it again :(

[2020-06-03 20:51] MargaritaRamirez commented on #2021
We will close this issue because the structure change and know we have to think according to the alliance.

[2020-06-03 20:51] #2021 closed

[2020-06-03 20:52] MargaritaRamirez commented on #2102
We need to send the information to Tonya and Lizzy to close the issue
@mralmanzar @anamp07

[2020-06-03 20:53] mralmanzar commented on #2102
![image](https://user-images.githubusercontent.com/9383649/83688034-59592e80-a5b2-11ea-9892-9be18955cab4.png)

[2020-06-04 12:40] anamp07 commented on #2106
Done.

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/72b5640a-9ecd-448b-ac98-c1b12b292b0e)

[2020-06-04 12:40] #2106 closed

[2020-06-04 20:53] yeyo2k3 commented on #1958
I added project Location to JSON format there is an example
![image](https://user-images.githubusercontent.com/51238402/83809049-6a21a700-a67b-11ea-8660-75f1d2019788.png)

[2020-06-05 14:57] kenjitm opened #2114 "[KT] (MARLO) Fix MEL Dspace authors sincronization"
Fix synchronization issue with authors information . Ex. D9968 - P1614

![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/ae3ce939-25f0-4b80-ad33-b057fa6cb837)

![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/97ee1085-d900-4506-98a8-42c28d50a828)

![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/abe23b0e-5938-471e-9fc6-0

[2020-06-09 13:48] yeyo2k3 commented on #2095
Mel did not develop any funtionality to syncronize milestones yet,
I close this issue to generate a new one for others indicators

[2020-06-09 13:48] #2095 closed

[2020-06-09 15:03] MargaritaRamirez commented on #2076
Macaroni Bros feedback on June 5, 2020:

The ProjectList and the single item web services are ok from my side.

Just to recap a bit what we discussed:

Option 1: Manual entry of the project to the website

Step 1: Website editor inserts the project node on Drupal and fills the ID fields with the MARLO Project ID
Step 2: Website editor clicks on SAVE button to save the content
Step 3: Website Impor

[2020-06-09 15:26] MargaritaRamirez commented on #2076
June 9, 2020:
According to our meeting today we decide to:

1. To release the project we will use option 1 and add permits to editors in the CAFFS website
2. Add more information according to the mock-up to have the complete service for project page
   - They will start with the information that we sent them: they need the JSON with the fields name and inform them if there is a URL or text
3. ASAP

[2020-06-17 16:03] MargaritaRamirez commented on #2076
June 17, 2020:

We sent the email to Macaroni Bros with the static JSON and create the channel in teams so we can have a faster communication

1.  static JASON for them to create the importer
In this [link](https://docs.google.com/document/d/1UazMvYkhjnucGPVYBq9lnbP7nxDabrD4-hm2LTXbyxE/edit?usp=sharing)

2. Channel of communication so we can sort problems or questions in real-time (CCAFS Project P

[2020-06-17 16:03] #2076 closed

[2020-06-17 16:06] MargaritaRamirez commented on #1958
we will close this issue and create a new one taking into account that we need to include all the information now according to the static JSON

[2020-06-17 16:06] #1958 closed

[2020-06-17 16:14] MargaritaRamirez opened #2118 "[MR] (KDS) Project Page - Include all the information in the service"
According to our last meeting with the Maroni Bross we will proceed with the option:

Option 1: Manual entry of the project to the website

Step 1: Website editor inserts the project node on Drupal and fills the ID fields with the MARLO Project ID
Step 2: Website editor clicks on SAVE button to save the content
Step 3: Website Importer fetches directly from Marlo all the fields for that particular

[2020-06-17 16:18] MargaritaRamirez commented on #2096
We sent the email to MARLO Family on June 16, 2020:

We download manually the users in AR2019 for all CRPs and send the email to all the roles except the guest users.
Total: 599 emails

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/4da806df-6749-4f15-9a33-4a85323d88ec)

[2020-06-17 16:19] #2096 closed

[2020-06-17 20:53] MargaritaRamirez opened #2119 "[MA] (SMO Dashboard) POWB Data Review"
Hello Hector and Manuel,

Thank you for discussing the POWB data and next steps! Please find data for 2018, 2019, and 2020 attached. As per our discussion, Manuel will review and analyze the data sets to confirm whether the content and structure align with the MARLO data and then we decide how to move forward.
Ticket #2092

- [x] Review the information
- [x] Load the information in MARLO (standalo

[2020-06-18 22:27] gcmartinezg opened #2121 "[GM] (MARLO) Replication problems for CoA with existing identifier"
### Replication problems when you try to save a Cluster of Activity (CoA) with an existing identifier.

Creating a new CoA with identifier "cluster". It saves correctly.
![image](https://user-images.githubusercontent.com/54682133/85077079-19d03c00-b187-11ea-9bce-d257368220b5.png)

Now we create a new CoA with the same identifier "cluster". Now the data created for the first cluster for the upcomin

[2020-06-19 21:17] MargaritaRamirez opened #2122 "[MR] (Data and Tools) Data and Tools from MARLO"
Export all the information of the deliverable section in MARLO and filter by website, tool, database category so we can start to depurate the information with the comms team and the FL/RL

- [ ] Extract the information for all year in MARLO
- [ ] Send to comms team for them to coordinate between regional/fp comms and FL/RL
- [ ] Comms comments of the spreadsheet
- [ ] Check the information to see

[2020-06-19 21:20] MargaritaRamirez commented on #2122
We sent the email with the information from MARLO on May 08, 2020

We got the information from comms on June June 15, 2020
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/09a8e414-e364-478f-9503-975ce1999f74)

We sent our comments on June 19, 2020
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/5e21244c-7b2e-4a74-b2e8-18278579307d)

[2020-06-23 13:32] Luisfben commented on #2014
**Activities pending**
- Check mockup with users
- Evaluate the implementation of a WebComponent to give same functionality to Management Support Pack
- Define like authenticate (Maybe with service token or directly with LDAP)

[2020-06-23 13:52] Luisfben opened #2123 "[LB] (MARLO) COVID-19 categories of impact"
Include a drop-down menu for the current state of COVID-19 impact with these options:

- NO IMPACT - Activities unaffected and expect to achieve deliverables as planned
- MINOR RE-SCHEDULING - Activities have had to be postponed, but still expect to achieve deliverables by end of year
- MAJOR RE-SCHEDULING - Activities have had to be postponed and 2020 deliverables will be achieved only in 2021
-

[2020-06-23 22:44] Luisfben commented on #2123
Hi @BrahianSalazar, please check backend

[2020-07-01 13:32] MargaritaRamirez commented on #2053
I will move this issue for the next sprint because we don't have yet to decide how is the proper way to display the information.

[2020-07-01 13:34] MargaritaRamirez commented on #2098
We have to continue this review

[2020-07-01 14:19] BrahianSalazar commented on #2123
The change was checked in local and works correctly. It was passed to testing environment (dev).

[2020-07-01 14:21] gcmartinezg commented on #2064
Analysis and indicators were made. As a result, an [excel file](https://cgiar.sharepoint.com/:x:/s/CCAFS-KDS/EcEZ9yfj80lLtOw4vPPUXyEBsQr6l_0RFte4jMaInv8J9g?e=Ao4RZF) with the information was created

[2020-07-01 14:25] gcmartinezg commented on #2097
This functionality was tested in DEV and is in MARLO Prod.

[2020-07-01 14:26] gcmartinezg commented on #2032
This functionality was tested in DEV and is in MARLO Prod.

[2020-07-01 14:26] #2097 closed

[2020-07-01 14:26] #2032 closed

[2020-07-01 14:27] BrahianSalazar commented on #2123
The change was tested by @htobon , approval is given to go to prod.

[2020-07-01 14:30] gcmartinezg commented on #2064
The excel file was sent to Hector and Manuel. The analysis was included in a partner request [slide](https://docs.google.com/presentation/d/1v6M-GD5AtgQYTZdH6NBI4Ef_9onGJFZ1/edit#slide=id.p7)

[2020-07-01 14:30] #2064 closed

[2020-07-01 14:37] MargaritaRamirez commented on #2014
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/9a680a0d-35bb-455a-81c5-4ac413abef29)

https://docs.google.com/presentation/d/1WueSN9DHqsLddXf0hM2ncTFvOgi9BVa1Ee3fRwiySeY/edit#slide=id.g8af55d5e41_0_71

[2020-07-01 21:43] mralmanzar commented on #2108
The new SLO targets cube was created and filled with 2018 and 2019 Data. All this information was sent to Snowflake and Tania and Porsha made the new dashboard taking this information.

[2020-07-01 21:43] #2108 closed

[2020-07-02 19:56] yeyo2k3 commented on #2118
Here is a example from service response [Link](https://cgiar.sharepoint.com/:u:/s/CCAFS-KDS/EcBpiYW-4m9Ns12miN0pB1cBxux9oa-ln6cgWVyg09Rdcg?e=Xc6t5K)

[2020-07-02 20:08] yeyo2k3 commented on #2109
here is an example from OICR list, [Link](https://cgiar.sharepoint.com/:u:/s/CCAFS-KDS/EcIxZqgnvv5Jvg5WD9lRPs0Bpj1LRYWa_LI4Dp5ovn47JA?e=YmZSDz)

[2020-07-02 21:13] felipelvira opened #2125 "[FE] (BI) Create interactive svg embedded / widget"
An interactive embed graphic is need for the result dashboard.

- [x] Find the best way to embed the graphic (plugins / technologies)
- [x] Find examples of interactivity in svg files
- [x] Implement a test
- [x] Implement a clickable embed svg / widget
- [x] Load clickable links from DB **
- [x] Final version

**Deliverable:** Interactive embedded graphic
**Move to Review when:** Approved by BI /

[2020-07-03 12:32] #2114 closed

[2020-07-03 12:39] #2109 closed

[2020-07-03 12:52] mralmanzar opened #2126 "Mark as duplicates some indicators"
In the QA process was detected some indicators repeated between CRPs.
Those indicators should be marked on the Dashboard.

[2020-07-03 12:54] gcmartinezg opened #2127 "[GM] (Results Dashboard) Milestone analysis 2018, 2019 and 2020"
For the results dashboard we need to check the milestones compiled by Porscha against the ones we have in MARLO. The idea is to mark the ones that:
- We have exactly as in the excel file
- We have a similar one as in the excel file, some changes required
- We do not have it in our platform

After the initial analysis we need to create a table with statistics of how many are ok, have mistakes or do

[2020-07-03 12:56] gcmartinezg commented on #2127
POWB 2019 file [here](https://cgiar.sharepoint.com/:x:/r/sites/CCAFS-KDS/_layouts/15/Doc.aspx?sourcedoc=%7BED452B09-5B6C-4B9A-99A8-694D30D6CB72%7D&file=All_Milestones_20200626_GM.xlsx&action=default&mobileredirect=true)

[2020-07-03 12:56] BrahianSalazar commented on #2123
The change is already in prod.

[2020-07-03 12:56] #2123 closed

[2020-07-03 12:57] mralmanzar commented on #2126
was created a template with the list of duplicated indicators [link](https://docs.google.com/spreadsheets/d/1XZozFk5rx-g9JdosfgUew93KCzHx2oI0N52kzTWzxLY/edit#gid=1747734827)

[2020-07-03 13:24] mralmanzar opened #2128 "[MA] Create a cube with the seeds distribution of Genebank"
in order to include the distribution of genebank seeds, it is required to create a cube with the information supplied in excel

- [ ] Create this information in the dashboard
- [ ] Design a cube to expose this information

**Deliverable: Cube document**
**Move to Closed when: cube document sent to Tania**

[2017 data](https://app.zenhub.com/files/58572044/d91904eb-feac-4716-8cc7-332e7a4ae965/downl

[2020-07-03 19:38] gcmartinezg commented on #2127
Original ticket [here](https://marlo.freshdesk.com/a/tickets/2092)

[2020-07-03 20:04] yeyo2k3 opened #2129 "[DP] (CLARISA) CLARISA Home Page"
develop a Home page to CLARISA based and containing this information

https://cgiar.sharepoint.com/sites/CCAFS-KDS/_layouts/15/Doc.aspx?sourcedoc=%7B5452a09d-8e42-4dd1-9cc1-a38befeb6adc%7D&action=default&slrid=da86629f-00aa-b000-cf6a-09662594b966&originalPath=aHR0cHM6Ly9jZ2lhci5zaGFyZXBvaW50LmNvbS86dzovcy9DQ0FGUy1LRFMvRVoyZ1VsUkNqdEZObk1HamktX3JhdHdCbzNwbDJoQUU1OWZ4YUx6RU92SjRQdz9ydGltZT1NdTBiUElz

[2020-07-03 21:27] yeyo2k3 opened #2130 "[DP] (CLARISA) Action Taken Table 11"
Develop the service to udpate information for table 11 on CLARISA API from anual report

- [x] Create
- [x] Select
- [x] Update
- [x] Delete

Deliverable: Table 11 API
Move to Review when: develop api on Marlodev
Move to Closed when: develop api on Doppler(Prod)

[2020-07-03 21:55] yeyo2k3 opened #2131 "[DP] (CLARISA) Examples of W1/2 Use (AR Table 12)"
Develop the service to udpate information for table 12 on CLARISA API from anual report

- [x] Create
- [x] Select
- [x] Update
- [x] Delete

Deliverable: Table 12 API
Move to Review when: develop api on Marlodev
Move to Closed when: develop api on Doppler(Prod)

[2020-07-03 22:00] yeyo2k3 opened #2132 "[DP] (CLARISA) CRP Financial Report (AR table 13)"
Develop the service to udpate information for table 13 on CLARISA API from anual report

- [x] Create
- [x] Select
- [x] Update
- [ ] Delete

Deliverable: Table 13 API
Move to Review when: develop api on Marlodev
Move to Closed when: develop api on Doppler(Prod)

[2020-07-06 12:36] MargaritaRamirez opened #2133 "[MR] (KDS-MARLO) Satisfaction Survey summary"
Analysis of the results  of the MARLO satisfaction survey

- [x] Export the results
- [x] Made the analysis
- [x] Share the results

**Move to Review when:** share the results with Hector and team
**Move to Closed when:** send the email to MARLO Family
https://docs.google.com/document/d/1-8ZOLustcz3juFSr8KcCsMi2sXvEqpcL4bJiWY-JVuY/edit?usp=sharing

[2020-07-06 12:42] MargaritaRamirez opened #2134 "[MR] (KDS) Road Map for KDS"
Create a road map for KDS from July to December 2020

- [x] Identify the activities to create the document
- [x] Create the document

**Move to Review when:** we send to Hector
**Move to Closed when:** Hector's approval

[2020-07-06 12:45] mralmanzar opened #2135 "[MA] (Result Dashboard) Create a MELIA cube"
Using the MELIA information,  make the QA MELIA list available in the Result Dashboard
- [x] Create the queries
- [x] Create the Cube in PDI
- [x] Create the cube document

**Deliverable: MELIA cube document**
**Move to Closed when: the document is sent to Tania**

[2020-07-06 12:45] felipelvira opened #2136 "[FE] (MEL Support Pack) M&E Resource"
Issue description.

- [x] Understand the code base.
- [x] Fix bugs
- [x] Implement mockups

**Deliverable:** M&E platform
**Move to Review when:**
**Move to Closed when:**

[2020-07-06 12:48] MargaritaRamirez opened #2137 "[MR] (KDS) Business Model (Software development)"
Visualize and develop the best option for a business model for our team
- [ ] Identify ideas that can adjust to our team
- [ ] Flowchart for our processes
- [ ] Shared the vision with the team
- [ ] Make the adjustments

**Deliverable:**
**Move to Review when:** Share the information with the team
**Move to Closed when:** All the adjustments are ready

[2020-07-06 12:53] felipelvira opened #2138 "[FE] (QA) Document QA"
Issue description.

- [ ] Technical documentation
- [ ] Administrative documentation
- [ ] Conclusion / to improve QA process

**Deliverable:** Documentation and presentation
**Move to Review when:**
**Move to Closed when:**

[2020-07-06 13:13] MargaritaRamirez opened #2139 "[MR] (CCAFS) Revised AR 2019 Document"
After QA process, revise the AR document and update the word with the final information and the PDF in CGSpace.

- [x] Export the information from MARLO
- [x] Update the document

**Move to Review when:** share the updated document
**Move to Closed when:** change the PDF in Cgspace

[2020-07-06 14:06] MargaritaRamirez opened #2140 "[MR] (CCAFS) CCAFS Knowledge by the numbers"
Create the statistics for our newsletter for 2019

- [x] After QA process start consolidating the information for all of the CCAFS deliverables reported
- [x] Create the charts for the statistics
- [x] Send to Ana Maria the information to design the graphs
- [x] Send to Hector to review the narratives and the cover message
- [x] Share with comms team for a final look of the narratives
- [x] Share

[2020-07-06 14:11] MargaritaRamirez opened #2141 "[MR] (MARLO) MARLO support Administration model"
How to prioritize the emails of MARLO support

- [ ] Design a model for us to classify the emails that we receive in MARLO Support email
- [ ] Create a template for all of us to know how we need to answer the emails
- [ ] Share with the team
- [ ] Make the adjustments

**Move to Review when:** The model is "ready"
**Move to Closed when:** All agree

[2020-07-06 14:14] MargaritaRamirez commented on #2136
Felipe, issue #2014  has some information that can help you with this process.

[2020-07-06 16:21] MargaritaRamirez commented on #2118
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/8008b9e4-6d20-4380-8d66-01cf1777edbc)

[2020-07-06 16:27] #2118 closed

[2020-07-06 16:47] MargaritaRamirez commented on #2133
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/550fc24e-7ca3-4502-8f9f-78d0de426702)

[2020-07-06 16:48] MargaritaRamirez commented on #2133
We close the survey on July 3.
We only get 55 responses

[2020-07-07 12:41] gcmartinezg commented on #2127
Second revision of POWB 2019 data as discussed with Manuel. This time the important info are: milestones, outcomes and sub-idos.

[2020-07-07 12:51] mralmanzar opened #2142 "[MA] (Result Dashboard) Altmetrics load"
Load the altmetrics information using the official peer reviewed papers reported to the SMO.

- [x] Extract Peer Review Papers information and load in altmetrics table
- [x] Execute Altmetrics process to update the info
- [x] Analyze the information
- [x] Generate the altmetrics cube

**Deliverable: almetrics information updated**
**Move to Closed when: mail is sent  to Tania**

[2020-07-07 13:06] mralmanzar opened #2143 "[MA] (Result dashboard) Global filters in OICR"
Include milestones dimension in OICR

- [x] Create the queries
- [x] Include the dimension in the cube
- [x] Update ETL
- [x] Execute ETL
- [x] update cube document

**Deliverable: cube document updated**
**Move to Closed when: mail is sent to Tania**

[2020-07-07 22:42] mralmanzar commented on #2143
the milestones dimension have included on cube.
![image](https://user-images.githubusercontent.com/9383649/86851782-2d314180-c079-11ea-9eb9-5ed698c0ba99.png)

[2020-07-07 23:01] mralmanzar commented on #2143
The mail to Tania was sent
![image](https://user-images.githubusercontent.com/9383649/86853325-e55fe980-c07b-11ea-8ad9-e909ad863ac7.png)

[2020-07-07 23:01] #2143 closed

[2020-07-08 12:38] MargaritaRamirez commented on #2140
July 3: Sent the email to Ana Maria with the file so she can help with the graphics for the newsletter. Also sent the email to Hector for him to elaborate on the narrative of the cover and review the document.
July 7: I made an update to the document with all the statistical information and let Ana Maria know so she can proceed with the graphics.

[2020-07-08 12:47] gcmartinezg commented on #2127
Redefinition of objectives:

- Process the data for POWB 2020. This info will be used instead of the data in MARLO.
- Write a mail to Porscha explaining the inconsistencies found when reviewing the POWB 2020 file.
- Process the data for AR 2017.

[2020-07-08 13:10] MargaritaRamirez commented on #2122
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/38bc4bbe-95a1-4cfe-8140-772b5bc1d4c3)

[2020-07-09 12:47] MargaritaRamirez commented on #2070
@anamp07 take a look to this, I think we can use this in the deliverable module

The Creative Commons License is an international publishing standard used to grant rights to use Open Access material. The [license code](https://creativecommons.org/licenses/) conveys specific things:

BY: Attribution to the original author, all derivatives permitted
SA: Share Alike meaning that derivative works must

[2020-07-09 12:48] mralmanzar commented on #2142
Was included 6371 peer reviewed publications of 2017, 2018 and 2019 in the Altmetrics table.
The synch process was executed and  2047 of this publications was not updated. I should analyze the information.

[2020-07-09 12:49] gcmartinezg commented on #2127
Added a new item: AR 2017

[2020-07-09 13:40] MargaritaRamirez commented on #2140
July 8: Got the graphics for the newsletter
@htobon
Please remember to review the word doc so we can send it to the comms teams for final revision.

[2020-07-09 20:02] MargaritaRamirez commented on #2139
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/3b47d716-2af1-4aa6-a848-413f5f2936df)

D:\CGIAR\CCAFS-KDS - Documents\1_Projects\1_2_CCAFS_KDS\1_2_2 Reports\AR2019\Reports\Comms

[2020-07-10 12:33] MargaritaRamirez commented on #2133
Still working on the summary

[2020-07-10 12:36] kenjitm commented on #2014
The tool is explained to Felipe and he is assigned the necessary permissions and access to repositories and databases.

[2020-07-10 12:40] kenjitm opened #2144 "[KT] (MARLO) Road Map for MARLO"
Create a road map for MARLO from July to December 2020.

Extract the information from Contracts, issues, meetings with team members...

- [ ] Identify the activities to create the document
- [ ] Planning activities
- [ ] Create the document

**Move to Review when:** we send to Hector
**Move to Closed when:** Hector's approval

[2020-07-10 12:42] kenjitm commented on #2085
Development of functionality logic is being implemented

[2020-07-10 12:47] gcmartinezg commented on #2127
Finished revision for AR 2017. A table in PROD was created to dump all this info. The milestones with status marked as "Partially complete" were put with status "null".

[2020-07-10 12:47] yeyo2k3 opened #2145 "[DP] (CLARISA) CLARISA Road Map"
Identify next activities from agreements and create a slide with a road map to december 2020

- [x] Identify activities
- [x] Planning activities
- [x] Create a draft

[2020-07-10 13:33] MargaritaRamirez opened #2146 "[DP] (CLARISA) RTB Partners validation process"
According with the last meeting on July 6 with Claudio the found 844 institutions that we don't have in MARLO.
They shared the [list](https://cgiar.sharepoint.com/:x:/s/CCAFS-KDS/ES76yuDqPGVJl5q25cTZxh0BEjNfqlyGCGASovvSQpsiDg?e=sekGor) and we will have another meeting on July 13 so we can inform how much time do we need to validate the entire list.

- [x] Review 60 partners out of the 844 reported

[2020-07-10 16:14] mralmanzar opened #2147 "[MA] (Result dashboard) Inlcude the SLO Targets contibution of AR2019"
Include in the SLO targets cubes the 2019 information. This task is done manually by Philippe in order to split the cases and include the countries.

- [x] Create and send to Philippe a template with MARLO data
- [x] Philippe should retrieve this template with the information
- [x] Add the information into MARLO
- [x] Execute ETLs to generate the cube and send the information to Snowflake

**Deliv

[2020-07-13 12:34] MargaritaRamirez commented on #2146
July 13: 14/20 will have this information before our meeting today.

[2020-07-13 12:43] mralmanzar commented on #2142
The email was sent to Tania and Porsha. After analysis of the doi, still not updating around 2,000 posts not supported by altmetrics API.
![image](https://user-images.githubusercontent.com/9383649/87305713-8e736d80-c4dc-11ea-99bb-8a981f041760.png)

[2020-07-13 12:43] #2142 closed

[2020-07-13 12:50] mralmanzar opened #2148 "[MA] (Result dashboard) Include AR2017 progress towards milestones to cube"
Analyze and include the information of 2017 milestones in the Cube

- [x] Analyze the information
- [x] Include the information in a separate table
- [x] Add the new info into the actual milestones cube.

**Deliverable: Information updated in snowflake**
**Move to Closed when: Mail is sent to Tania and Porsha**

[2020-07-13 12:52] mralmanzar commented on #2147
The mail was sent to Philippe. We are waiting the answer.
![image](https://user-images.githubusercontent.com/9383649/87306594-dba40f00-c4dd-11ea-9a5c-5e1f9b57dae0.png)

[2020-07-13 15:22] MargaritaRamirez commented on #2140
July 13: We reviewed with Hector the document and he will work in the cover narratives.
After he updates this information, we will share the document with David and Phillip for final comments before we send the document to the comms team.

[2020-07-13 15:24] MargaritaRamirez commented on #2139
I need to update some information on table 1 and then share the document with comms so they take a look at the narratives.

[2020-07-14 12:40] gcmartinezg commented on #2112
Two options were tested. One averaged 0.08s more per handle than the other one. For 526 handles, one took 206s and the other 160s so I went with the other option. Almost finished.

[2020-07-14 12:43] mralmanzar commented on #2148
The ETLs were updated including the information from a new table with the AR2017 info.
![image](https://user-images.githubusercontent.com/9383649/87426935-9ea34f80-c5a5-11ea-81fe-2eed540f350e.png)

[2020-07-14 12:43] mralmanzar commented on #2148
We are waiting for answer from the CRPs about some wrong statuses

[2020-07-14 12:45] kenjitm opened #2149 "[KT] (MARLO) Finish BI module"
- [x] Module fixes
- [x] Create specificity for its visualization
- [x] Adapt the code to the specificities in frontend and backend (currently burned)
- [x] Create database migrations
- [x] Deploy in prod

**Deliverable:**
**Move to Review when:** Development is ready
**Move to Closed when:** Module is tested

[2020-07-14 12:46] mralmanzar commented on #2146
Was validated 20 institutions and took around 3.5 hours

[2020-07-14 12:52] anamp07 opened #2150 "[AP] (CGIAR Dashboard) Adjust application for the V2"
Adjust the application to embed a single dashboard for each section.

- [x] Country search
- [x] Partner Search
- [x] SDG Search
- [x] SLO
- [x] OICR
- [x] Milestones
- [x] Innovations
- [x] Parnterhips
- [x] Policies
- [x] CapDev
- [x] Publications
- [x] Altmetric
- [x] Genebank

**Deliverable:** Dashboard V2.
**Move to Closed when:** All sections are updated.

[2020-07-14 14:18] MargaritaRamirez commented on #2146
July 14: After our yesterday meeting, we decide
1. We will create the partners that Hector marks as pending in the first sheet
2. Diego will include the types of institutions to the 3d sheet and Hector will ask Sara for her help to mark the institutions.
3 We will have until July 27 to create new partners

[2020-07-15 12:40] mralmanzar commented on #2135
the cube was developed using the QA information.
![image](https://user-images.githubusercontent.com/9383649/87545948-63b91e80-c66e-11ea-8df8-7a4d2a08faf6.png)

[2020-07-15 12:41] mralmanzar commented on #2135
The mail to tania and porsha was sent, still pending the official cube document.
![image](https://user-images.githubusercontent.com/9383649/87546067-8ea37280-c66e-11ea-96ad-9e9f984a673c.png)

[2020-07-15 12:45] #2047 closed

[2020-07-15 19:52] yeyo2k3 commented on #2130
I develop all request pending upload changes on dev

![image](https://user-images.githubusercontent.com/51238402/87589381-c3cdb600-c6aa-11ea-80c9-021f35cf1b4a.png)

@gcmartinezg can you test it?

[2020-07-15 20:16] MargaritaRamirez commented on #2133
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/9eb09f3b-89a7-4d71-8b9d-a688493fb5a3)

Summary [link](https://docs.google.com/document/d/1-8ZOLustcz3juFSr8KcCsMi2sXvEqpcL4bJiWY-JVuY/edit?usp=sharing)

[2020-07-15 20:21] gcmartinezg commented on #2127
Once again, redefinition of objectives:

- Process the data for POWB 2018, 2019 and 2020. This info will be used instead of the data in MARLO.
- Create a table in PROD to dump all this processed info.

[2020-07-15 20:23] gcmartinezg commented on #2127
A new table in PROD was created to dump the data for AR 2017: **_results_dashboard_ar_2017_info_**

[2020-07-16 12:34] kenjitm commented on #2149
Specificity is created for the visualization of the BI module for each CRP
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/b7065c84-f72a-4e9c-b4b5-577f6826f9ca)

It can be activated or deactivated by superadmin users according to the required need
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/286837e4-8242-466b-bf1a-bfe3f849ff6f)

[2020-07-16 12:34] #2149 closed

[2020-07-16 15:00] mralmanzar commented on #2147
Al the information was sent to snowflake. Just still pending the countries of 1 rice contribution.
![image](https://user-images.githubusercontent.com/9383649/87687218-178fdc00-c74b-11ea-86fa-331b41f5edce.png)

[2020-07-16 19:30] kenjitm commented on #2144
MARLO RoadMap Microsoft Project Document:

https://cgiar.sharepoint.com/:u:/s/CCAFS-KDS/EW8RaZpwBtRHkageJDDPUR4BYvWrJwkXh03sOdLk4YOZfA?e=ZbzrVQ

[2020-07-17 12:37] MargaritaRamirez commented on #2140
July 16: I updated some information on the cover for the newsletter and add a comment on the graphics that will change.
@htobon we will share this with Phil and David?

[2020-07-17 12:38] MargaritaRamirez commented on #2133
waiting for @htobon feedback

[2020-07-17 12:48] mralmanzar commented on #2119
The information was organized an loaded in a standalone table in the MARLO database (results_dashboard_powb_milestones_info).
Al the queries and cube model are already finished.

[2020-07-17 21:46] MargaritaRamirez commented on #2140
July 17: I updated the graphics.
Please @htobon inform how we can proceed.

[2020-07-17 21:48] MargaritaRamirez commented on #2139
July 16: Lili will review the narratives of the document so we can proceed to update the PDF in CGSpace

[2020-07-21 13:26] mralmanzar commented on #2148
All data is ready and sent to snowflake.

[2020-07-21 13:27] mralmanzar commented on #2148
![image](https://user-images.githubusercontent.com/9383649/88060517-fef93a80-cb2b-11ea-96b9-6e2a9122818b.png)

[2020-07-21 13:27] #2148 closed

[2020-07-21 14:45] mralmanzar commented on #2147
We have updated the green super rice contribution adding the countries.
![image](https://user-images.githubusercontent.com/9383649/88069314-eb070600-cb36-11ea-9313-2dcf5fca7121.png)

[2020-07-21 14:45] #2147 closed

[2020-07-21 21:00] mralmanzar commented on #2135
I have finalized the cube document and was sent to tania and Porsha.
![image](https://user-images.githubusercontent.com/9383649/88106587-58cd2500-cb6b-11ea-9cb1-f7dc52fa2520.png)

[2020-07-21 21:01] #2135 closed

[2020-07-21 21:02] mralmanzar commented on #2119
Was implemented the ETL to send the POWB milestones to snowflake.
![image](https://user-images.githubusercontent.com/9383649/88106745-9467ef00-cb6b-11ea-9ca9-27eab4528749.png)

[2020-07-21 21:03] mralmanzar commented on #2119
The cube document was sent to Tania and Porsha
![image](https://user-images.githubusercontent.com/9383649/88106817-b5304480-cb6b-11ea-805c-44add1436a32.png)

[2020-07-21 21:03] #2119 closed

[2020-07-22 20:30] yeyo2k3 commented on #2145
based on SMO agreements I created a simple draft explain our goals during this year

![image.png](https://images.zenhubusercontent.com/5d3718852c1c7b71d87abdf1/60c6b8b8-27cb-4ccd-af79-bbc32297e409)

[2020-07-22 21:28] felipelvira commented on #2138
![image.png](https://images.zenhubusercontent.com/5e31b50bed0cb224543df029/9f4d51e5-c98b-43a6-800a-c9f8ebc4acbb)

[2020-07-23 02:05] #2144 closed

[2020-07-23 02:07] kenjitm commented on #2144
MARLO Roadmap Google Presentation:
https://docs.google.com/presentation/d/1HYk3q4wsAv8mg2U5XjPbZzpYpaOZ3IJbC548vAbve2Q/edit#slide=id.g8c994e0fd7_0_0

[2020-07-23 12:40] #2127 closed

[2020-07-24 19:26] gcmartinezg commented on #2112
@MargaritaRamirez this is ready to be tested. Let me know when we can have a quick meeting to explain to you how does the new program work.

[2020-07-27 12:35] #2145 closed

[2020-07-27 12:40] MargaritaRamirez commented on #2134
Sent to Hector since July 17 and reviewed with all the team on July 23:

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/8fae9838-6320-4af4-bb88-e2d608a32158)

You can access to all the roadmaps in the following link https://docs.google.com/presentation/d/1HYk3q4wsAv8mg2U5XjPbZzpYpaOZ3IJbC548vAbve2Q/edit#slide=id.g8c512663f0_0_128

[2020-07-27 12:44] MargaritaRamirez commented on #2053
We have to develop a scheme with the different options that we have to display the information for Data & Tools for this sprint

[2020-07-27 14:00] gcmartinezg opened #2151 "[GM] (KDS) Improve the service cgspace-reader.jar"
### Improve the service cgspace-reader.jar

_past issue [here](https://github.com/CCAFS/MARLO/issues/2112)_

### Tasks
- [ ] Documentation / User guide
- [ ] Being able to read from an excel file
- [ ] Being able to extract the handles from an excel column
- [ ] Being able to get the information from a single handle easily
- [ ] Bug fixes

### Look into...
- [ ] Knowing how many of the visits a ha

[2020-07-27 14:03] #2112 closed

[2020-07-27 14:05] gcmartinezg commented on #2112
Meeting with Margarita finished. A [new issue](https://github.com/CCAFS/MARLO/issues/2151) was created for a future version of the program.

[2020-07-27 16:46] MargaritaRamirez commented on #2139
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/de19542c-64c8-4b55-9f29-c1aed26c7477)

[2020-07-27 16:50] MargaritaRamirez commented on #2140
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/4f588d15-fed8-423e-8598-432c9e1af1d5)

[2020-07-27 16:50] MargaritaRamirez commented on #2133
waiting for @htobon feedback and plan for this

[2020-07-27 16:51] #2134 closed

[2020-07-29 12:37] MargaritaRamirez commented on #2139
Lili sent us the document but she only updated the narratives in terms of writing and grammar.
Hector asked me if I can review the document again.
Mase some changes and sent him the document last night.

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/4e77263d-765f-4d28-b204-8a5803d60e68)

[2020-07-29 12:42] MargaritaRamirez commented on #2133
Only yesterday we can discuss the information that was sent.
Updates/modifications:
- Change the color s of the graphics
- Add examples of the categories in questions 3 (most like), 4 (recommendations), 5 (summaries)
- Complete some narratives

[2020-08-03 12:42] MargaritaRamirez commented on #2146
We will contract 2 persons to help us validating and adding the institution information of  MEL partners.

Diego created a single document so we can all work in there.
https://cgiar.sharepoint.com/:x:/s/CCAFS-KDS/EU4iXEgsiWlFnxubg1Qmj4UBcio2C3_6SNuGivL6_m5SAw?e=Bmvcwd

[2020-08-03 12:43] MargaritaRamirez commented on #2140
I have to work in some comments that Seble and Fatime from the comms teams made in the document and the idea is to send the email on August 12, 2020.

[2020-08-03 12:44] MargaritaRamirez commented on #2133
Make changes in the color charts and modify the order of the Very good, Good, Bad, and very bad questions.

[2020-08-03 19:37] mralmanzar opened #2152 "[MA] (Result Dashboard) Create an Excel with the cubes information"
Should be created an Excel sheet in dataverse with the information of each cube in order to give users an easy way to analyze the information.

- [ ] Create data warehouse cube views for each cube
- [ ] Include in the ETL the excel generation steps
- [ ] Export to Dataverse each excel

**Deliverable:** Excel sheet in Dataverse for each cube
**Move to Closed when:** Mail sent informing this develop

[2020-08-05 19:08] mralmanzar opened #2153 "[MA] (CCAFS-KDS) CAS CCAFS/PIM/Livestock review"
CGIAR Advisory Services is doing a review of the published CRP information. Accordingly to a mail, should answer some requests.
https://docs.google.com/document/d/17tOsF28G2kawWGWdNmGXHTsoW1EUuTuaaymuxWIlpu0/edit

- [x] Policies Analisis (6 August)
- [x] OICR Analisis (10 August)
- [x] Milestones Analisis (12 August)
- [x] Innovation Analisis (14 August)
- [x] All CRPs Analisis (1 Sep)

**Delivera

[2020-08-05 19:32] MargaritaRamirez opened #2154 "[HT] (AICCRA Platform) Create the AICCRA Platform (UN plan task)"
- On July 28 we received an email with a list of instructions from Bruce on how we can obtain data for a new World Bank project.
- On July 29 we received from Wiebe the information of the activity table and the presentation of what were the expectations
- We started the meeting trying to understand what we need
- We propose to copy the MARLO structure and work with it

- [x] Develop the platform
-

[2020-08-05 19:33] MargaritaRamirez commented on #2154
We created a [spreadsheet](https://docs.google.com/spreadsheets/d/178gAWgNqDL1fICYLZgr-f4JiJ-MuucaN2yICzYZu_ag/edit#gid=0) for all the issues.

[2020-08-06 13:36] mralmanzar commented on #2153
In a meeting with CAS, the most important data is Milestones, FP, Linkages between indicators

[2020-08-10 12:43] mralmanzar commented on #2153
Policy analysis completed. the mail was sent to CAD.

Field | Comments
-- | --
FP | See Sheet name “Policy FPs”   disaggregated as agreed.   Information was taken from MARLO taking into consideration the Flagships   contribution to the project where the policy was reported.
No. | No actions were taken here as   everything is complete
year | No actions were taken here as   everything is complete
st

[2020-08-11 19:03] MargaritaRamirez commented on #2133
@htobon I already updated the charts, please take a look in the summary [link](https://docs.google.com/document/d/1-8ZOLustcz3juFSr8KcCsMi2sXvEqpcL4bJiWY-JVuY/edit) and also please check the plan form the point 6 of the question #2 (Speed: the time it took the pages to load) highlighted in yellow.

[2020-08-11 19:09] MargaritaRamirez commented on #2139
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/6a55ac60-169a-40a6-92e5-890a9f011b17)

[2020-08-11 19:09] #2139 closed

[2020-08-12 12:40] MargaritaRamirez commented on #2140
We cant sent the newsletter today because Fatime is still asking for changes so we have to move the release for next week.

[2020-08-12 12:42] mralmanzar commented on #2153
OICR analysis completed. the mail was sent to CAD.

Field | Comments
-- | --
CRP | No actions taken as everything   is complete
no. year | No actions taken as everything   is complete
FP | If the flagship(s) were not   provided directly in the OICR, the information was taken from MARLO as per   the Flagship contribution to the project.
start-end date | No actions taken as everything   is complete

[2020-08-13 12:29] anamp07 commented on #2150
Done. The dashboard was released on July.

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/34bc32bd-2aed-4b64-9d98-95d7e484a413)

[2020-08-13 12:29] #2150 closed

[2020-08-13 12:35] MargaritaRamirez commented on #2146
Next week we will start with working with Andres and Yamit in this validation process.

[2020-08-13 12:37] mralmanzar commented on #2153
Milestones Analysis completed. the mail was sent to CAD.

Field | Comment
-- | --
By CRP | No actions taken here as   everything is  complete
FP | No actions taken here as   everything is  complete
YEAR | No actions taken here as   everything is  complete
Status Reason | This field is available when the   milestone status is reported as changed, canceled, or extended. It is not   applicable for co

[2020-08-13 12:38] MargaritaRamirez commented on #2140
Fatime for PMU comms sent the test email
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/38a33acf-2d90-40a2-8cb6-1cd021d7f00c)

Hector shared with David and here are his comments
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/80118179-d252-4736-9e47-80cd869098f1)

[2020-08-13 20:44] kenjitm opened #2155 "[AP] (MARLO) Improvements in Funding Sources interface functionality"
**Funding Source Interface**
- [x] Locate Achieved tab more visibly
We didn't change the look and feel of the tabs as this is the look and feel of all MARLO tabs. And it wasn't clear were it should have been put. From my point of view, it's ok in the place it is.

- [x] Indicate when a finance code is already being used by other crp
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0

[2020-08-13 21:22] kenjitm commented on #2085
Mockup: https://docs.google.com/presentation/d/1u7PU8-U2jByFP0teGsDO4TH6n-wkMP37CX2Dz4DKqsY/edit#slide=id.p1

[2020-08-14 12:52] MargaritaRamirez commented on #2140
PMU comms sent the newsletter today!!!

[2020-08-14 15:36] #2140 closed

[2020-08-14 16:35] MargaritaRamirez commented on #2154
AICCRA infrastructure (Server creation, security certificate, server config files adjustments)
AICCRA Platform Setup (Creation of AICCRA as Platform)
AICCRA Specificities (Title changes, validators, hide fields, etc)
AICCRA configuration (Milestones, Flagships, PPA partners, etc)
AICCRA Support (Error in the login page, user grants, etc)
Create projects in AICCRA platform
Add the funding sources a

[2020-08-14 16:35] #2154 closed

[2020-08-19 12:22] MargaritaRamirez commented on #2146
Aug 18: We started working with Andres and Yamit
We will close this issue and create a new one to document the process that they report

[2020-08-19 12:33] MargaritaRamirez opened #2156 "[DP] (CLARISA) Partners Validation process - Service Agreement"
We contract two person to help us with the partners validation process (MEL, WoS, SMO) they will be with us at least 2 moth working in this.
Diego will update on Monday's the CLARISA database sheet of the [file](https://cgiar.sharepoint.com/:x:/s/CCAFS-KDS/EU4iXEgsiWlFnxubg1Qmj4UBcio2C3_6SNuGivL6_m5SAw?e=Bmvcwd).
- Yamit will deliver in 15 days 200 validated partners
- Andres will deliver in 15 da

[2020-08-19 12:33] #2146 closed

[2020-08-19 14:04] anamp07 opened #2157 "[KT] (MARLO) Fix funding sources branch"
Fix funding sources branch to merge staging and continue with the pending improvements.

- [x] Merge staging.
- [x] Fix errors.

**Deliverable:** Funding sources branch updated without errors.
**Move to Closed when:** Branch is ready to start working.

[2020-08-19 14:04] #2157 closed

[2020-08-19 14:35] kenjitm opened #2158 "[AP] (MARLO) Create filters in funding source list"
Issue description.

- [x] Create filter button.
- [x] Filter table.
- [x] Adjust interface to display selected filter.
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/6b1fc6ca-527c-4305-8428-92958fd3af13)
-  [x] Filtered by default for contact points
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/d898e867-ade6-4380-ba24-3bb993b2a12c)

**Delive

[2020-08-19 14:44] kenjitm opened #2159 "[KT] (MARLO) Pre-fill information when creating a Funding source"
- [x] Pre-fill the basic information when creating a Funding source
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/e2a079aa-08d6-4ee9-b751-80796a562c0b)

- [x] Indicate when a finance code is already being used by another funding source of the same crp (**with the same managing partner**)

- [x] Go to edit an Fs if the finance code already exists in the same CRP

**Deli

[2020-08-19 14:47] kenjitm opened #2160 "[KT] (MARLO) Map Funding Sources to projects"
- [x] Allow mapping projects from the funding sources interface
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/9f6efa07-4321-4674-835a-240663c22e5f)

- [x] Allow unmap projects from the funding sources interface
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/4c5b86c8-ce0f-474e-ad7a-296ebb418b0f)

- [x] Add justification when mapping a funding

[2020-08-19 14:49] kenjitm opened #2161 "[KT] (MARLO) Implement funding sources synchronization improvements"
- [ ] Bring total budget from Agresso and save it in MARLO
- [ ] Avoid having to manually resynchronize funding sources
- [ ] Agresso has a tag where the CRP is indicated, they can be used to detect agreements that have not been created in MARLO
- [ ] Keep Original funder suggestion text visible after saving
- [ ] Synchronize funding source at creation if the agreement is On going.

**Deliverable:

[2020-08-20 14:42] anamp07 commented on #2155
We decided not to develop this: _Make the Finance Code field visible only when a Managing Partner is selected_.

In the new Funding Sources features, the funding source is created after fillings some fields in a pop-up, including the managing partner which is a mandatory field.

![image.png](https://images.zenhubusercontent.com/5b81b883dc633f0891418b32/aca89222-e9b0-4ad8-a981-281a00874f69)

[2020-08-20 15:32] kenjitm commented on #2158
Pending put development in dev branch for testing

[2020-08-25 20:42] yeyo2k3 commented on #2129
We was looking for HTML templates that they had a posibility to include sections for example: About us, FAQ, contact US, CLARISA explaning, Control List

after this a presentation was created with some of them that probably works for us

https://docs.google.com/presentation/d/1bEgz5tkX5IMBwCW4j4C-RrMc1KgHRuLytUN39ERjb5M/edit?usp=sharing

In a meeting with @htobon  and @anamp07, we selected option

[2020-08-26 12:23] MargaritaRamirez commented on #2133
waiting for @htobon feedback and plan for this

[2020-08-26 12:25] MargaritaRamirez commented on #2011
@htobon are we going to do this revamp? we are 2 moth behind according with your comment in Feb

[2020-08-28 20:21] gcmartinezg opened #2162 "[Team] (MARLO) Update the installation section of the MARLO wiki"
When third-party people tried to install MARLO following the [installation guide](https://github.com/CCAFS/MARLO/wiki/Installation), they were having a lot of issues with some configurations that needed to be done and apparently are not clear enough, so we need to update that section, this time trying to be as explicit as possible.

- [ ] Review the steps that are currently present.
- [ ] Rewrite

[2020-09-02 14:57] yeyo2k3 commented on #2129
After meeting on august 28th  there are some task to consider

[ ] Remove Email Header,
[ ] Remove ReadMore and sliders
[ ] Remove OCS and GCspace from API framework image
[ ] Include Clarisa benefits on about CLARISA section
[ ] Ajust Links on homepage
[ ] Customize Lead partners and collaborators
[ ] Ajust CSS to Swagger API framewok on Template.
[ ] Adjust Domain to go to new homepage

[ ] Cont

[2020-09-02 16:38] MargaritaRamirez commented on #2053
@htobon the [mock-up](https://docs.google.com/presentation/d/1dPgx0I-g8IH0SA14EnNAbNVnaTGHhXsB-qWIhJ3aBek/edit#slide=id.g92ed051bc8_0_0) is ready for review.

[2020-09-02 16:41] MargaritaRamirez commented on #2122
We create an issue statement
D:\CGIAR\CCAFS-KDS - Documents\1_Projects\1_2_CCAFS_KDS\1_2_6_Data and Tools

[2020-09-04 13:31] mralmanzar commented on #2153
The indicator files with the data gaps on all indicator were sent to CAS.
All information is in this folder:
 ==> 1_Projects\1_4_CLARISA\CAS Evaluation 2020\

[2020-09-04 13:31] #2153 closed

[2020-09-04 13:42] mralmanzar opened #2164 "[MA] (Alliance DB) Update AR2019 Data in the Alliance Dashboard"
All AR indicators should be updated with the new data of 2019
- [x] Update Query
- [x] Update Master Table
- [x] Validate dashboard information
- [x] Send the mail to Tonya

https://datastudio.google.com/u/0/reporting/1KEK4Qx-XwC0uYnrNVgKBxcoNv04mQuzP/page/fono

**Deliverable:** Mail Informing the update to Tonya.
**Move to Review when:**
**Move to Closed when:**

[2020-09-04 13:59] mralmanzar opened #2165 "[MA] (MARLO BI) Create POWB dashboards in MARLO"
Should be included some dashboards that helps to users monitor the POWB process

Reports:
- [x] **Deliverables**

- [x] **Project submission**

- [x] **Milestones**

**Deliverable:** BI module active in all CPRs
**Move to Review when:**
**Move to Closed when:**

[2020-09-04 14:07] mralmanzar opened #2166 "[MA] (Alliance Dashboard) Create a data model to include the Alliance Data"
Create a data model to include the Alliance Data

- [ ] Meeting to plan the Activities

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2020-09-18 12:58] MargaritaRamirez opened #2167 "[MR] (CCAFS) Include the POWB 2020 report to CCAFS website"
the [link](https://cgspace.cgiar.org/handle/10568/107179) that we need to include when the new CCAFS website is on

- [x] Close ticket 2205 because we can't include this information until the launch of the new CCAFS website
- [x] Send a reminder to Lili

**Move to Closed when:** When Lili confirms that the link is part of the website.

![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba6

[2020-09-18 12:59] MargaritaRamirez commented on #2011
@htobon are we going to do this revamp? we are 3 moth behind according with your comment in Feb

[2020-09-18 13:00] MargaritaRamirez commented on #2133
waiting for @htobon feedback and plan for this

[2020-09-18 13:03] MargaritaRamirez commented on #2053
@htobon  the mock-up is ready for review.
@anamp07 could you please take a look and tell us if we need to improve (maybe yes) something while @htobon gives his comments

[2020-09-21 14:26] MargaritaRamirez commented on #2122
We developed a mock-up issue # and we are waiting for @htobon comments

[2020-09-29 19:23] mralmanzar commented on #2165
the module was release in test environment in Sep 26.
Just Deliverables and project submission was released.

[2020-09-29 19:23] mralmanzar commented on #2165
Graphs for milestones:
https://www.screencast.com/t/eblN3enQ
https://www.screencast.com/t/2IXiG5js

[2020-09-29 20:48] mralmanzar opened #2168 "[FE] (MARLO BI) Module improvements"
Some improvements in the module was evidenced.

- [x] Improve the look and feel

- [x] Avoid the double scroll bar in some reports

- [x] Include in tabs the pages of the reports

**Deliverable:** those improvements in production environment
**Move to Closed when:** those improvements in production environment

[2020-09-30 15:22] #2133 closed

[2020-09-30 15:23] MargaritaRamirez commented on #2133
![image.png](https://images.zenhubusercontent.com/5c6c4b4e3ba63a679b1c58cc/a3b600f1-9ef8-4332-9110-fa3afdfd7dda)

[2020-10-01 15:23] MargaritaRamirez opened #2169 "[MR] (CLARISA) CLARISA contract report with the SMO"
Review the contract and make the report for Jules

- [x] Manuel will explain the way of working with this
- [x] Work closely with Diego to identify the status of the pending activities
- [x] Present the report to Hector for his feedback

**Move to Review when:** When we sent the report to Hector
**Move to Closed when:** When Hector send the report to Jules

[2020-10-06 21:11] MargaritaRamirez opened #2170 "[FE] (CCAFS) Support Packs"
We are trying to integrate and create one architecture and the way to proceed to upload and update documents with both DMSP and MEL support pack
[Roadmap](https://docs.google.com/presentation/d/1EGCj2C_MiMBLv1aqgg0Ogxrq1AK7ftm4cXw54W45h2g/edit#slide=id.p)
[Technical docs](https://docs.google.com/document/d/1RZlPC9Noff0eJtQ3GQxnjulYUThtT6F0Uil0Cg1KCa0/edit?usp=sharing)

- [x] Continue the process t

[2020-10-07 15:28] yeyo2k3 opened #2171 "[DP] (CLARISA) Limit AR tables data from 2018 onwards"
Limit services from CLARISA to share information of AR tables from 2018 onwards

- [x] Table 1
- [x] Table 2
- [x] Table 3
- [x] Table 4
- [x] Table 5
- [x] Table 6
- [x] Table 7
- [x] Table 8
- [x] Table 9
- [x] Table 10
- [x] Table 11
- [x] Table 12
- [ ] Table 13

Deliverable: All tables data limited from 2018 onwards
Move to Review when: all constraints are developed
Move to Closed when: all c

[2020-10-07 15:51] yeyo2k3 opened #2172 "[DP] (CLARISA) Disable recieve data from a closed AR phase"
CLARISA needs to Disable recieve request (post, put and delete) for all 13 AR indicators in a AR closed phase.

- [x] Table 1
- [x] Table 2
- [x] Table 3
- [x] Table 4
- [x] Table 5
- [x] Table 6
- [x] Table 7
- [x] Table 8
- [x] Table 9
- [x] Table 10
- [x] Table 11
- [x] Table 12
- [x] Table 13

Deliverable: Constraint developed in CLARISA
Move to Review when: all constraints are develped in dev

[2020-10-07 19:52] mralmanzar commented on #2164
![image](https://user-images.githubusercontent.com/9383649/95380671-b17ba680-08ac-11eb-9138-bba884930d4f.png)

[2020-10-07 19:56] #2164 closed

[2020-10-07 21:03] mralmanzar commented on #2165
Hector feedback on milestones dashboard

[2020-10-14 14:23] kenjitm opened #2174 "(MARLO) Convert Hyperlinks to POI format"
There is a section in MARLO where we have rich text boxes, allowing to enter text in italics, bold, and hyperlinks and this text is saved in the database.

These rich text boxes are using the Trumbowyg plugin. https://alex-d.github.io/Trumbowyg/

![2020-10-14_08-59-43.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/639774d1-a5b2-469b-922b-bd2e4b8d772d)

We have the functionality

[2020-10-15 13:52] MargaritaRamirez commented on #1869
We did an external contract with Premize who managed to identify the problem and we in the testing period.
@kenjitm could you please document the solution that they informed us?

[2020-10-15 21:49] kenjitm commented on #1869
The MarloBaseEntity problem is solved by removing the isCenterProject () method from the Projects class.

This method causes the issue since within the Project class there is an object called CenterProject, which caused that when performing the deployment of the application, if the isCenterProject () method was first to read, the system would search for an object and when not finding it the error

[2020-10-15 21:53] #1869 closed

[2020-10-15 23:18] #2131 closed

[2020-10-15 23:18] #2130 closed

[2020-10-19 19:49] gcmartinezg opened #2175 "[GM] (Altmetrics Service) Add the option to update a deliverable by Handle"
Manuel said:
_Hola German,
Revisemos el servicio de integración con altmetrics para incluyamos la consulta por handle._ [ver ejemplo](https://api.altmetric.com/v1/handle/20.500.11766/8300)

The format to consult a Handle with the Altmetrics service is https:// api.altmetric.com/v1/handle/**_your/handle_** (remove the space before _api_)
where **_your/handle_** is the Handle ID.

- [ ] Develop the

[2020-10-21 20:40] MargaritaRamirez opened #2176 "[MARLO team] Main action points from sprint 4.5.0"
- [x] @MargaritaRamirez (MR): Invitación Sprint 21 de Octubre.
- [x] @yecksin  (AP) Responder feedback funding sources.
- [x] @htobon (HT) Enviar correo a Pascale cuando esté la respuesta del feedback.
- [x] @htobon @MargaritaRamirez (HT-MR) Documentar las equivalencias de los CRP vs Alliance
- [x] @yecksin  (AP) Actualizar tabla de AICCRA
- [x] @yecksin @gcmartinezg (GM-YZ) Escribir en el canal d

[2020-10-22 14:22] kenjitm opened #2177 "[KT] (MARLO) Field in project description to indicate the id of the previous project"
- [x] Create the field in front-end
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/0465b7a7-607e-4c9b-bfe2-1fb25f288d7a)

- [x] Create specificity to show the field
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/80554a47-c6aa-42e2-8328-df6af93393ba)

- [x] Update the backend model
- [x] Allow text only

**Deliverable:**
**Move to Closed when:

[2020-10-22 14:26] #2158 closed

[2020-10-22 14:26] #2160 closed

[2020-10-22 14:26] #2159 closed

[2020-10-22 14:27] #2155 closed

[2020-10-22 14:36] #2177 closed

[2020-10-22 14:58] kenjitm opened #2178 "[KT] (MARLO) Test system migration to Hibernate 5"
Test the MARLO migration performed by Premize to hibernate 5 in the feature / pmz-hibernate5.4.final-migration branch

The following changes were applied to the branch:
- https://github.com/CCAFS/MARLO/commit/c33206a5e43a5215029f815a73a6b1707e4522d3
<i>…bernate.Query is replaced by org.hibernate.query.Query and org.hibernate.query.NativeQuery interfaces.
</i>
![image.png](https://images.zenhubuser

[2020-10-22 21:34] #2085 closed

[2020-10-23 19:46] gcmartinezg opened #2179 "[GM] (MARLO) Create summaries for the Impact Pathways section"
**We currently do not have reports for the Impact Pathways in MARLO**

The Impact Pathways in MARLO is composed of two sections: Outcomes and Cluster of Activities ([see screenshot](https://www.screencast.com/t/mPIntSOJe8x)).

- [x] Report for Outcomes
- [x] Report for Cluster of Activities (CoA)

### General requirements
- The reports should have the logo of the CRP of the user who wants to gener

[2020-10-23 20:32] kenjitm opened #2180 "[KT] (MARLO) Connect MARLO summaries to RDS"
### **Summaries in MARLO**
We have developed reports in MARLO that can be found in the Summaries section

![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/47d995b3-438f-4e44-8a17-309f57110caa)

### **Java Classes**
The java actions classes of the MARLO Summaries can be found at:
_\marlo-web\src\main\java\org\cgiar\ccafs\marlo\action\summaries_

All the report generation l

[2020-10-28 18:44] kenjitm opened #2181 "[KT] (AICCRA) Share deliverables between clusters in Cluster sections"
In AICCRA clusters, there is a deliverables section, within which it is required to develop the functionality of sharing them between clusters.

Currently, deliverables are only associated with one project.

### **Java Clases**
- DeliverableAction.java

### **Front end Classes**
- deliverableInfo.flt
<br>

- [x] Make migrations and back end architecture

- [x] Develop front end component
![image.p

[2020-10-28 18:56] kenjitm opened #2182 "[KT] (MARLO) Review POWB Document"
The word document is generated in the MARLO phases called POWB.

In the synthesis section, at the bottom left is the document generation button.

![buttonDOC.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/201de0f3-17f0-4b60-a5dc-be7b86e736b8)

### **Java Classes**
The generation of the AR document is done in:

- _POWBPOISummary2019Action.java_ class for POWB document
- _POISumm

[2020-10-28 19:03] gcmartinezg opened #2183 "[GM] (MARLO) Develop a way to identify duplicated deliverables"
In MARLO there is no way to know whether a deliverable has been created or not and there are some cases where a deliverable ends up being duplicated. This is why is important to develop functionality to detect and inform the user if the deliverable they are creating does exist in order to avoid such cases.

- [ ] Identify duplicated deliverables between CRPs
- [ ] Identify duplicated deliverables

[2020-10-28 21:15] kenjitm opened #2184 "Upload Pentaho Libraries to CIAT Nexus repository"
Pentaho libraries will be uploaded to Nexus repository

		<dependency>
			<groupId>org.pentaho</groupId>
			<artifactId>core</artifactId>
		</dependency>
		<dependency>
			<groupId>org.pentaho</groupId>
			<artifactId>extensions</artifactId>
		</dependency>
		<dependency>
			<groupId>org.pentaho</groupId>
			<artifactId>base</artifactId>
		</dependency>
		<dependency>
			<groupId>org.pentaho</grou

[2020-10-28 22:00] #2184 closed

[2020-10-30 12:42] htobon opened #2185 "(MARLO) MARLO POWB 2021 - Urgent Issues"
Here are some urgent issues that came recently during the POWB 2021 project plan:

- [ ] Yecksin: Funding sources - Improve loading icon and decrease loading time.
- [ ] Kenji: Deliverables report (geographic location)
- [ ] Kenji: Deliverables report (managing partners)
- [ ] Yecksin: Funding sources - Allow Budget 0 as per the CRP specificity

[2020-11-03 20:05] ccastiblanco opened #2186 "[CC] (MARLO-BI) Funding Sources Dashboard Mockup"
Create a dashboard mockup for Funding Sources Module, based in existing reports

- [x] Reports
- [x] Create graphics in Power BI Desktop
- [x] Publish Mockup

**Deliverable:** Funding Sources Mockup presented to Hector Tobón
**Move to Review when:** Mockup created
**Move to Closed when:** Mockup validated

[2020-11-03 20:15] ccastiblanco opened #2187 "[CC] (MARLO-BI) MARLO BI Presentation (Google Slides)"
Create a Google Slides presentation for the BI Module in Marlo, explaining Power BI characteristics embedded in Projects, Milestones and Deliverables dashboards.

- [x] Define the global structure
- [x] Create Presentation

**Deliverable:** Google Slides Presentation
**Move to Review when:** Presentation finished and sent to Hector
**Move to Closed when:** Hector Validation and adjustments done

[2020-11-04 12:53] MargaritaRamirez commented on #2176
(HT-MR) Documentar las equivalencias de los CRP vs Alliance: no se hizo porque MARLO Alianza no ha sido implementado aun.

[2020-11-04 13:16] mralmanzar commented on #2185
The FP and RP repeated was inactivated by Database. @kenjitm will analyze the code to detect the error in MARLO.

[2020-11-06 16:29] #2176 closed

[2020-11-06 16:30] #2169 closed

[2020-11-06 16:44] MargaritaRamirez opened #2188 "[MARLO team] Main action points from sprint 4.5.1"
- [ ] @mralmanzar (MA) Reunión para definir alcance del framework de la alianza para definir tecnologías (v4.5.0)
- [x] @felipelvira (FE) Documentar a nivel técnico todo el trabajo que se está haciendo con MEL y Data Management Support Pack (v4.5.0)
- [x] @MargaritaRamirez (MR) Invitación Sprint 26 Noviembre
- [x] @kenjitm (KT) Revision template vs MARLO Doc POWB
- [x] @gcmartinezg (GM) Debug Sinc

[2020-11-06 18:04] yeyo2k3 commented on #2129
Proceed update to production enviroment with all features and more

- [x] Create a new API reference,
- [x] Posibility to view data on real time for all general control list
- [x] Access to test all service from general control list
     - [x] Institutions
     - [x] CGIAR entities
     - [x] Countries
     - [x] Regions
- [x] Pösibility to Export data via Excel

[2020-11-06 18:04] #2129 closed

[2020-11-06 18:04] #2171 closed

[2020-11-06 19:09] MargaritaRamirez commented on #2053
[Mock-up](https://xd.adobe.com/view/adc1e12c-d117-470a-9d3f-ac6c93d1db2e-f892/) in adobe
[Issue statement ](https://cgiar.sharepoint.com/:w:/s/CCAFS-KDS/EZFSEKhk6ldFmyL8zrnJGsQB_2TO-5_yTeTTWzLYL4F_MQ?e=ufAxRG)

[2020-11-07 00:45] #2156 closed

[2020-11-09 15:14] ccastiblancoCGIAR commented on #2186
Mockup validated by Hector.
Close this issue, open a new one to create the data structure required.

[2020-11-09 15:14] #2186 closed

[2020-11-09 15:27] ccastiblancoCGIAR opened #2189 "[MA-CC] (MarloBI) Release Beta Version on Production Environment (3 Dashboards)"
Release in production the three dashboards: Milestones, Project Submission status, Deliverables

- [x] Create Tables
- [x] Create ETLs using the current queries
- [x] Create Job
- [x] Create automation to maintain updated data
- [x] Release the code for embedded Power-BI in MARLO
- [x] Publish the dashboards in a production workspace

**Deliverable:**
**Move to Review when:** All the task are done

[2020-11-09 15:40] ccastiblancoCGIAR opened #2190 "[MA-CC] (MARLO-BI) Create an e-mail and Doodle for a BI meeting with BI Advisory Group"
Create an email with a doodle with possible dates for BI Advisory Meeting

- [ ] Create email body
- [ ] Create doodle with possible dates

**Deliverable:** email with doodle
**Move to Review when:** email body and doodle created
**Move to Closed when:** email body and doodle validated and sent by Hector to the BI Advisory Group

[2020-11-09 15:41] ccastiblancoCGIAR commented on #2190
Doodle created
E-mail body created
Info validate and sent by Hector to the BI Advisory Group

[2020-11-09 15:41] #2190 closed

[2020-11-09 15:46] ccastiblancoCGIAR opened #2191 "[MA-CC] (MARLO-BI) MARLO BI Advisory Group Meeting"
Meeting with a presentation about MARLO BI Beta Version.

- [x] Create email to inform participants
- [x] Participate in the meeting

**Deliverable:** Meeting held
**Move to Review when:** Meeting is approved by participants
**Move to Closed when:** Meeting is held

[2020-11-09 15:53] ccastiblancoCGIAR opened #2192 "[CC] (MARLO-BI) Create Funding Sources Dashboard"
Create a Funding sources Dashboard with Information from the data warehouse

- [x] Design Data Structure
- [x] Create Data Structure
- [x] Create and test ETLs
- [x] Create and test Job
- [x] Create Dashboard
- [x] Test Dashboard in development environment
- [x] Publish Dashboard in Workspace CIAT-MARLO
- [x] Embed Dashboard in Marlo dev
- [x] Present Dashboard to Hector for Validation
- [x] Prese

[2020-11-10 14:53] gcmartinezg commented on #2179
Added Cluster of Activities (CoA) report

[2020-11-11 12:51] kenjitm opened #2193 "[KT-GM] (MARLO) MARLO Issues"
Document of MARLO Issues: https://docs.google.com/spreadsheets/d/1Pw13aEQb-u1bA9QlXM2mGnVw7y6ZHAEd5UFu4Yfrxs0/edit#gid=0

[2020-11-11 17:01] kenjitm opened #2194 "(MARLO) Database name property in MARLO Dev server"
When deploying MARLO on the MARLO Dev server from dev branch, the database parameters are read from the tomcat, however it is not clear where the database name is being taken from.

When generating the war file from a different branch and trying to make the deployment on the server, the name parameter of the database is apparently read from the internal configuration files of the application, whic

[2020-11-12 13:18] ccastiblancoCGIAR commented on #2187
Estructura inicial:

- Explicación del módulo. Para que sirve un módulo de BI (Que se va a mostrar)
- le brindan la capacidad de recolectar, organizar y. analizar rápidamente sus datos
- Ver informacion agrupada por diferentes filtros que te van a permitir ver de manera general el contenido en MARLO
- Primera version de BI es solo lectura.
- Instrucciones de como llegar al módulo desde marlo
- Exp

[2020-11-12 13:20] ccastiblancoCGIAR commented on #2187
Reunión el jueves 5 de noviembre con HT, MR y MA.
Adición a la estructura inicial:

- Objetivo del BI Advisory Group y de las reuniones con ellos.
-
- Explicar un poco la arquitectura (quizás incluir un diagrama). Por ejemplo, decir que existen unos procesos de transformación de datos (ETLs) y que se actualizan cada cierto tiempo, en qué tecnología está hecho, quienes pueden acceder, qué tipo de e

[2020-11-12 13:22] ccastiblancoCGIAR commented on #2187
Reunión el martes 10 de nov con MR y MA.
Revisión de la Presentación, modificaciones realizadas sobre algunos slides para mejorar el entendimiento

Pendiente: Revisión de Roadmap con @mralmanzar

[2020-11-12 13:48] ccastiblancoCGIAR commented on #2189
Nov 9
Etls created:
![image](https://user-images.githubusercontent.com/74072431/98947899-c22ec600-24c3-11eb-9e75-9a3d0bbc8c90.png)

[2020-11-12 13:52] ccastiblancoCGIAR commented on #2189
Nov 10:
ETLs and jobs delevoped to change ELT process for deliverables:
![image](https://user-images.githubusercontent.com/74072431/98948334-500ab100-24c4-11eb-9bd3-85d9c07b5993.png)

[2020-11-12 13:59] ccastiblancoCGIAR commented on #2189
Nov 11:
Change ELT_get_dlv_variables to Load data only for CRP: CCAFS

[2020-11-20 13:01] kenjitm opened #2196 "[GM-KT] (MARLO) Update CGSpace Deliverables Syncronization"
- [x] Identify API changes
- [x] Develop changes in deliverables synchronization

**Deliverable:**
**Move to Closed when:** Develop is in production

[2020-11-20 13:02] #2196 closed

[2020-11-20 13:13] kenjitm opened #2197 "[KT] (MARLO) Evidence validators"
- [x] Update evidence validators -> primary sub-IDO

**Deliverable:**
**Move to Closed when:** Develop is in production

[2020-11-20 13:14] #2197 closed

[2020-11-20 13:27] kenjitm opened #2198 "[KT] (MARLO) AR Document update information"
Update year information in POWB document

- [x] Name of file
- [x] Internal texts

**Deliverable:**
**Move to Closed when:** Develop is in prod

[2020-11-20 13:28] #2198 closed

[2020-11-20 13:28] #2182 closed

[2020-11-24 12:54] ccastiblancoCGIAR commented on #2191
The email was created and MAlmanzar sent it on 13/nov/2020

![image](https://user-images.githubusercontent.com/74072431/100096613-42411e00-2e2a-11eb-9703-7be11f23f4f8.png)

[2020-11-24 12:54] mralmanzar opened #2199 "[KT] (MARLO) Project contributions to milestones"
There are some fields in the project contribution that are not replicated correctly

![image.png](https://images.zenhubusercontent.com/5b509ee6a8d8be5bda395611/560bfce3-eaa8-4253-9f6a-49a196a1b1a8)

**Deliverable:**
**Move to Review when:**
**Move to Closed when:**

[2020-11-24 13:05] #2168 closed

[2020-11-24 13:29] ccastiblancoCGIAR commented on #2191
On 19/nov/2020 was the meeting. Conclusions: Use excel file with the Team to create questions and requirements. Focus on Anual Report 2021 and focus on the information of CRPS: what they have be done.

[2020-11-24 13:29] #2191 closed

[2020-11-24 13:35] ccastiblancoCGIAR commented on #2187
Presentation was finished and presented in the BI Advisory Group Meeting on 19/nov/2020
Link to the presentation:

https://cgiar.sharepoint.com/:p:/r/sites/CCAFS-KDS/_layouts/15/Doc.aspx?sourcedoc=%7BC9C3BF09-7789-43BF-A31C-AE00F820092E%7D&file=MarloBImodule_20201105_CC_MA_MR.pptx&action=edit&mobileredirect=true

[2020-11-24 13:35] #2187 closed

[2020-11-24 13:43] ccastiblancoCGIAR commented on #2189
Change the storage engine for the tables from MyISAM to InnoDB

[2020-11-24 13:43] ccastiblancoCGIAR commented on #2189
Test on the ETLs for Deliverables ETLs

[2020-11-24 13:47] ccastiblancoCGIAR commented on #2188
@mralmanzar @ccastiblanco (MA-CC) Liberación Modulo BI producción (3 Dashboards)
  Details on Issue: #2189 [MA-CC] (MarloBI) Release Beta Version on Production Environment (3 Dashboards)

[2020-11-24 13:59] jduqueciat commented on #2188
- **Approach submission tools One CGIAR**: Para mas información dirigirse a https://github.com/AllianceBioversityCIAT/onecgiar-submission-tool/issues/1

-  **Road Map submission tools One CGIAR (Nov 2020 - Jul-2021):** Para mas información dirigirse a https://github.com/AllianceBioversityCIAT/onecgiar-submission-tool/issues/2

[2020-11-24 14:06] #2136 closed

[2020-11-24 18:58] MargaritaRamirez opened #2200 "[MARLO team] Main action points from sprint 4.5.2"
- [ ] @mralmanzar (MA) Reunión para definir alcance del framework de la alianza para definir tecnologías (v4.5.0)
- [ ] @felipelvira (FE) Documentar a nivel técnico todo el trabajo que se está haciendo con MEL y Data Management Support Pack (v4.5.0)
- [ ] @gcmartinezg (GM) Debug Sincronización FS con Agresso (v4.5.1)
- [ ] @kenjitm (KT) DevOps -> In Progress (v4.5.1)
- [ ] @kenjitm (KT) MARLO Impr

[2020-11-25 14:46] felipelvira opened #2201 "[FE] (SMO) Support Packs analytics"
As the process to update and upgrade the support packs advance, an evaluation of the traffic and users behavior in the applications is needed.
For this is important to recollect and analyze the data gather from different sources; this data will be used to propose upgrades or to archive modules.

[Roadmap](https://docs.google.com/presentation/d/1EGCj2C_MiMBLv1aqgg0Ogxrq1AK7ftm4cXw54W45h2g/edit#slid

[2020-11-27 13:29] MargaritaRamirez commented on #2167
https://ccafs.cgiar.org/planning-and-reporting

[2020-11-27 13:30] #2167 closed

[2020-12-01 16:46] gcmartinezg opened #2202 "[GM] (MARLO) Changes for Table 3 (Annual Report)"
[New guidance](https://www.screencast.com/t/R7HxRqOGsxpS) for Table 3

- [x] Add new guidance
- [x] Suppression of Column 3 (_Indicate if it’s a new outcome, updated case with new level of maturity, same level of maturity_).
- [x] Add validation for study removal when it has policies and/or innovations associated.

### New Guidance
_“Please ensure that all OICRs already linked to your reported Pol

[2020-12-03 13:01] gcmartinezg opened #2203 "[GM] (MARLO) Change for Table 10 (Annual Report)"
[New guidance](https://www.screencast.com/t/i0sq9K2gp) for Table 10.

- [x] Create a modal (similar to [this one](https://www.screencast.com/t/yPRphSDrV)) where it lists all the types of evidence, their descriptions, how to identify them, and an example for each one.

The modal should be displayed at project level (evidence section) and Table 10 of AR

**Deliverable:** AR2020 Adjustments
**Move to

[2020-12-03 16:10] gcmartinezg commented on #2203
@yecksin will help with the enhancement of the existing structure of the modal.

[2020-12-03 18:48] gcmartinezg commented on #2203
Created new columns on **study_types** table: description, key_identifier, for_narrative and example.

[2020-12-04 16:10] gcmartinezg opened #2204 "[GM] (MARLO) Clean DOIs on Deliverable Metadata"
MARLO will be connected with services in need of the DOIs, and we need to have a standard on how they should be entered, or at least how the data should be saved. That is why we should have a way to clean the DOIs being entered by the users on the Project Deliverables section, and in the case of them not being correct, they should be displayed as an error.

- [x] Clean the DOIs entered by the user

[2020-12-07 15:45] gcmartinezg opened #2205 "[GM] (MARLO) Narrative change for Table 7 (Annual Report)"
The template requested a narrative change of the helper text on deliverable "[participants and trainees](https://www.screencast.com/t/PLcUt8NEpAs0)", and Table 7 "[Cross-cutting dimensions](https://www.screencast.com/t/G2kYbXeP)"

- [x] Change text on deliverable (participants and trainees)
- [x] Change text on Table 7 (Cross-cutting dimensions)

**Deliverable:** AR2020 Adjustments
**Move to Revie

[2020-12-07 16:27] gcmartinezg opened #2206 "[GM] (MARLO) Remove checkboxes on Flagships/Modules for Annual Report tables"
We have a checkbox on several tables in AR for including an element to the final Annual Report document for the [Flagships](https://www.screencast.com/t/UMNT7wU8) / [Modules](https://www.screencast.com/t/Tsiu2oNoY), and this should be only available for PMU.

- [x] Remove from Table 2 (Policies)
- [x] Remove from Table 3 (OICR)
- [x] Remove from Table 4 (Innovations)
- [x] Remove from Table 6 (Pub

[2020-12-10 13:30] yeyo2k3 opened #2207 "[DP] (CLARISA) CLARISA improvements"
Issue description.
modify sections in the new homepage to include some functionalities and add tony shikali to our team
 we created 4 deliverables for tony
- [ ] Introduction to CLARISA and installing CLARISA enviroment
- [ ] Add FAQ section in CLARISA homepage
- [ ] Create Auditlog module to track all changes made in the data from CLARISA Services for the anual report tables 1-8 and 10
- [ ] Regi

[2020-12-10 13:32] yeyo2k3 commented on #2207
for FAQ section tony made some question to be review
there are 3 groups of questions.

Access
How do I access the API?
Where is the API documentation?
How do I get credentials to access the API?

Technology
Is there an alternative technology eg SOAP/XML to access the data?
Are there connectors for some common analytical/visualisation tools such as QlikView/PowerBI/Tableu/Sisense and the likes?

Da

[2020-12-10 15:20] yeyo2k3 commented on #2207
here is our first steps in FAQ section
![image.png](https://images.zenhubusercontent.com/5d3718852c1c7b71d87abdf1/609171bf-e6fc-4ce7-9637-8b7e8017325e)

the idea is complete this section providing feedback and adjustments

[2020-12-11 13:34] gcmartinezg commented on #2202
Added new task: **_Validation for study removal_**

[2020-12-11 15:37] kenjitm opened #2208 "[KT] (MARLO) Allow to report any deliverable type in Synthesis D evidence"
At this moment, the list of all deliverables categorized as peer-reviewed papers in Synthesis evidence D.
It is required to add the possibility that CRPs can report any other type of deliverable, regardless of its type.
Add in the section a functionality that allows the possibility of adding any other deliverable as part of the list

- [ ] Allow reporting any type of deliverable in Flagships secti

[2020-12-11 19:37] kenjitm opened #2209 "[KT] (MARLO) Change word limit in explanation for milestones field AR Synthesis"
New words limit: Column 6,
change explanation for milestones from 50 to 200 words maximum.

- [x] Change the front end indicator
- [x] Change the backend validators

![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/2c44f216-1025-4e29-bc54-4a59a254b6f7)

**Deliverable:**
**Move to Review when:** Develop is in dev
**Move to Closed when:** Develop is in prod

[2020-12-11 20:31] MargaritaRamirez commented on #1681
we close this issue because @yeyo2k3 worked on it with another issue.

[2020-12-11 20:31] #1681 closed

[2020-12-11 20:34] MargaritaRamirez commented on #2161
we close this issue because @kenjitm  worked on it with another issue

[2020-12-11 20:34] #2161 closed

[2020-12-11 20:38] MargaritaRamirez commented on #2107
We duplicate this issue with the #2174 and was outsourced with Premize S.A.S.

[2020-12-11 20:39] #2107 closed

[2020-12-11 20:41] MargaritaRamirez commented on #2070
@htobon what should we do with this issue?

[2020-12-14 14:53] ccastiblancoCGIAR commented on #2189
December 10.
Testing ETL on production server. Issue detected DBname for Output table is null.
Issue fixed: DBname field was filled in Output step with $DES_DBNAME variable. The ETL was saved, tested in dev environment and pulled on main branch in Github.
The ETL was tested in Production Server by @mralmanzar .

This test is made as a step of the Automation process to the data transformation and l

[2020-12-14 15:11] ccastiblancoCGIAR commented on #2192
Created tables in Dev Environment and Creation scripts, upload them in Github:

Dimensions:
![image](https://user-images.githubusercontent.com/74072431/102098031-aab16880-3df4-11eb-91b1-d8c2bdbe4966.png)

[2020-12-14 15:31] ccastiblancoCGIAR commented on #2192
staging for dimensions:
  Generic Dimensions:
  ![image](https://user-images.githubusercontent.com/74072431/102099972-e64d3200-3df6-11eb-9eb7-84e9529e960f.png)

Funding Sources related dimensions:

![image](https://user-images.githubusercontent.com/74072431/102100213-2d3b2780-3df7-11eb-815a-ae526f27f97f.png)

Project related dimensions:

CR_stg_projects_info.sql

Fact and pre-fact Tables:
Funding

[2020-12-14 15:53] ccastiblancoCGIAR commented on #2192
ETLS:
Transformations created:
For Dimensions:

![image](https://user-images.githubusercontent.com/74072431/102102072-65436a00-3df9-11eb-8028-829461cc6407.png)

For staging tables:

![image](https://user-images.githubusercontent.com/74072431/102102636-0d593300-3dfa-11eb-8622-b64537162d10.png)

For fact tables:

![image](https://user-images.githubusercontent.com/74072431/102103076-88bae480-3dfa-11e

[2020-12-14 15:54] gcmartinezg opened #2210 "[GM] (MARLO) Change word limit in Summary narrative on progress against each flagship outcome (Table 5)"
Decrease word limit for _[Summary narrative on progress against each flagship outcome](https://www.screencast.com/t/1pRKRvhhYNX)_, from 200 to 100 words

- [x] Adjust word limit

**Deliverable:** AR2020 Adjustments
**Move to Review when:** The task is ready on staging branch and ready to be tested
**Move to Closed when:** The task is on PROD

[2020-12-14 15:59] ccastiblancoCGIAR commented on #2192
Processes created:
The whole process for dimensions:

Dimension process: Job created for the etl process for the dimensions.

![image](https://user-images.githubusercontent.com/74072431/102103301-d2a3ca80-3dfa-11eb-84fa-4d569804357e.png)

Each step in this job is other job (except save_to_log, this is a transformation).
Each job could have one or more ETLs (transformations).

[2020-12-14 16:04] gcmartinezg opened #2211 "[GM] (MARLO) Change for Table 6 (Annual Report)"
[Currently](https://www.screencast.com/t/q80TT2Ok2dP), for the Evidence D table, we are displaying the _Journal Title_, but this field Is not as important as the unique identifier where the publication can be read from, so we need to change the _Journal Title_ with the _Permanent Unique Identifier_ one.

Also, we were asked to put the identifiers as text and not as a tooltip when hovering over an

[2020-12-14 16:13] ccastiblancoCGIAR commented on #2192
Process for:
CRP:

![image](https://user-images.githubusercontent.com/74072431/102103917-92911780-3dfb-11eb-9c43-88316c0e6bef.png)

EXT_PARTNERS (institutions):

![image](https://user-images.githubusercontent.com/74072431/102104049-bbb1a800-3dfb-11eb-9d91-bf4ada504f2e.png)

YEAR (time dimension for this cubes):
![image](https://user-images.githubusercontent.com/74072431/102104221-ed2a7380-3dfb-11e

[2020-12-14 16:16] ccastiblancoCGIAR commented on #2192
Dimension process (Cont.)

Funding sources info

![image](https://user-images.githubusercontent.com/74072431/102105737-be150180-3dfd-11eb-8db7-b923888a5c01.png)

Projects info

![image](https://user-images.githubusercontent.com/74072431/102105788-cec57780-3dfd-11eb-9eb1-709021b9dc11.png)

[2020-12-14 16:19] ccastiblancoCGIAR commented on #2192
Processes for Fact Tables (cubes): This job has the jobs for funding sources fact table and project budgets fact table

![image](https://user-images.githubusercontent.com/74072431/102105919-f583ae00-3dfd-11eb-9159-5d53a86e3f38.png)

Funding sources fact table process:

![image](https://user-images.githubusercontent.com/74072431/102106051-1d731180-3dfe-11eb-8f55-ca6eed8f49f3.png)

Project budgets f

[2020-12-14 16:25] ccastiblancoCGIAR commented on #2192
During the test on the ETLs, data quality issues on the source database was founded. The issues are still in progress because it is important to determine how to fixed.
1. Duplicated active rows in table: funding_sources_info: solved
2. Duplicated active rows in table: project_budgets: pending duplicated rows with different budget.
3. Missing annualized information in funding_source_locations and

[2020-12-14 21:00] gcmartinezg commented on #2211
@yecksin will help me with **Enable pagination and search box for the tables on this section.**

[2020-12-14 21:40] yecksin opened #2212 "[YZ] (MARLO) fix the bug about the google charts in AR2020 (table 6)"
![image](https://user-images.githubusercontent.com/53352977/102138759-d94a3600-3e2a-11eb-86c0-0cf8ab909734.png)
An error reject the loading of a google charts.

- [x] Check why the bug happens
- [x] Resolve the bug

**Deliverable:** AR2020 Adjustments
**Move to Review when:** The tasks are ready on staging branch and ready to be tested
**Move to Closed when:** The tasks are on PROD

[2020-12-15 18:07] ccastiblancoCGIAR commented on #2189
shell scripts created in doppler server:
create_milestones.sh
create_project_submission.sh
create_deliverables.sh

![image](https://user-images.githubusercontent.com/74072431/102253719-b032af80-3ed5-11eb-9d65-d406b2411f88.png)

Those shell scripts make a call to the ETL process jobs developed in pentaho tool

MarloBI_milestones.kjb
MarloBI_project_status.kjb
MarloBI_deliverables_total.kjb

Respect

[2020-12-15 18:09] ccastiblancoCGIAR commented on #2189
Automation on ETL process for
Milestones
Project submission
Deliverables
Was finished.

[2020-12-15 18:09] #2189 closed

[2020-12-15 19:13] felipelvira commented on #2014
** THIS WAS MOVED TO https://app.zenhub.com/workspaces/marlo-57741a85e38255db5ee2475c/issues/ccafs/marlo/2201 **

-- Status changed to closed.

[2020-12-15 19:13] #2014 closed

[2020-12-15 19:23] felipelvira commented on #2170
** UPDATES **

- Technical documentation. ([here](https://docs.google.com/document/d/1RZlPC9Noff0eJtQ3GQxnjulYUThtT6F0Uil0Cg1KCa0/edit#heading=h.7cch03h02r21))

[2020-12-16 20:53] kenjitm opened #2213 "[KT] (MARLO) Add text field in 2.2.1 AR synthesis section about how each flagship has adapted their research owing to Covid-19"
- [x] Create database field and build MARLO migrations
- [x] Create the classes models
- [x] Create the front end field and texts
![image.png](https://images.zenhubusercontent.com/5b743d40a6afdd0ad0617092/eebbbb0e-8ddb-40fd-baf4-fe630b08ddcf)

- [x] Create the field validations

**Deliverable:**
**Move to Review when:** Develop is in dev
**Move to Closed when:** Develop is in prod

[2020-12-17 13:40] gcmartinezg opened #2214 "[FM] (Altmetrics Service) Add the option to update a deliverable by IFPRI Ebrary Link"
Hector said in [#2383](https://marlo.freshdesk.com/a/tickets/2383):
_Hola German,
sería posible adicionar esta implementación como parte del algoritmo del results dashboard que extrae información de Altmetrics una vez por semana?_ [ver ejemplo](https://api.altmetric.com/v1/uri/http:/ebrary.ifpri.org/cdm/ref/collection/p15738coll2/id/133437)

The format to consult a Handle with the Altmetrics servi

[2020-12-17 16:11] yecksin opened #2215 "[YZ] (MARLO) Bug in sync with Agresso"
![image](https://user-images.githubusercontent.com/53352977/102506585-44755180-4051-11eb-98f2-ed4cc1009f57.png)
Bug in the Direct Funder and Original Funder list.

![image](https://user-images.githubusercontent.com/53352977/102506612-49d29c00-4051-11eb-99ca-0e419164cad8.png)
aaaa

- [ ] Search and resolve the bug that not allow the load Direct Funder and Original Funder list

**Deliverable:**
**Mo

[2020-12-17 19:44] yeyo2k3 opened #2216 "[DP] (CLARISA) Action Points for 2021"
Action point Description for CLARISA Early 2021

- [x] Report for match between MEL institutions vs CLARISA institutions
- [x] Finish recent Andres and Cristian OC to continue payment and start a new OC for one more month
- [x] Meeting with Mohayad to explain WoS's institutions validation to know if this information will be useful to him.
- [x] Partner request application connected to CLARISA auth

[2020-12-21 12:43] ccastiblancoCGIAR commented on #2192
Funding Sources dashboard created in Power BI Desktop and published in Power BI server Workspace  CIAT-MARLO on Dec. 17th 2020.
The dashboard contains 4 sheets:
Summary
Funding sources by projects
Relationships
History

Summary:
![image](https://user-images.githubusercontent.com/74072431/102778019-c91ce400-435f-11eb-90d2-8ed13d3469e0.png)

Funding sources by projects:

![image](https://user-images

[2020-12-21 13:09] ccastiblancoCGIAR commented on #2192
During the tests was observed the issue about the link: The phase for the link shouldn't be the same as it is used to extract data. Instead, it is necessary to use the current phase for each CRP. This situation changed the following ETLs:
stg_fs_info

![image](https://user-images.githubusercontent.com/74072431/102780340-bb695d80-4363-11eb-93ad-21cca107cf98.png)

stg_projects_info

![image](https:/

[2020-12-21 19:40] ccastiblancoCGIAR commented on #2192
Documentation:
Word file created: FundingSourcesCube.docx
saved in the Sharepoint:
CGIAR\CCAFS-KDS - Documents\1_Projects\1_7_MARLO_BI\Documentation\DataStructure Documentation

Cube structure:

![image](https://user-images.githubusercontent.com/74072431/102815443-5aa94780-439a-11eb-9f09-eb4d3ebc343a.png)

[2020-12-21 19:56] mralmanzar opened #2217 "[MA] (GI) Validate backup process"
In the actual infrastructure we are using 3 places to store the Backups: An EBS, a S3 and Dapafs.
The idea is analyze and decide if all services are required or we can cancel one of them.

- [ ] Analyze the Backup process
- [ ] Update the backup script
- [ ] Tests

**Deliverable:** New backup scripts and mail inform to stakeholder with the desition.
**Move to Review when:**
**Move to Closed when:*

[2020-12-21 19:58] yecksin opened #2218 "[YZ] (MARLO) Fix the bug AR 2019 / table 5 / some text area"
html tag is include in the input text of no editing view.
![image](https://user-images.githubusercontent.com/53352977/102814975-97287380-4399-11eb-9b37-1b1df2d9fa78.png)

- [ ] Identify why the bug is occur
- [ ] Fix the bug

**Deliverable:** AR2020 Adjustments
**Move to Review when:** The tasks are ready on staging branch and ready to be tested
**Move to Closed when:** The tasks are on PROD